<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>draw_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{535,352}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,352}}</string>
                <key>sourceSize</key>
                <string>{537,352}</string>
            </dict>
            <key>draw_frame0.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,276},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>draw_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,226},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>draw_peole.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{272,451}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{272,451}}</string>
                <key>sourceSize</key>
                <string>{294,451}</string>
            </dict>
            <key>draw_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,276},{304,333}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{304,333}}</string>
                <key>sourceSize</key>
                <string>{306,353}</string>
            </dict>
            <key>draw_word_hdjp.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{118,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{118,29}}</string>
                <key>sourceSize</key>
                <string>{122,31}</string>
            </dict>
            <key>draw_word_yxsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,122},{102,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{102,29}}</string>
                <key>sourceSize</key>
                <string>{108,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TreasureQuestResource.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7bc244e1c1138f6ae975d1ee9048674$</string>
            <key>textureFileName</key>
            <string>TreasureQuestResource.pvr.ccz</string>
        </dict>
    </dict>
</plist>
