<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10514_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{136,158}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,65},{136,158}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,330},{118,162}}</string>
                <key>offset</key>
                <string>{-45,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,61},{118,162}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,76},{170,168}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,55},{170,168}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{168,170}}</string>
                <key>offset</key>
                <string>{25,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,54},{168,170}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,246},{170,130}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,29},{170,130}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{160,154}}</string>
                <key>offset</key>
                <string>{-26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{160,154}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,162},{166,156}}</string>
                <key>offset</key>
                <string>{-36,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,63},{166,156}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,72}}</string>
                <key>offset</key>
                <string>{-27,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,158},{180,72}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{178,48}}</string>
                <key>offset</key>
                <string>{-28,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,174},{178,48}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,44}}</string>
                <key>offset</key>
                <string>{-24,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,186},{182,44}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10514_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{512,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fba2393167addbb640664a788edf702d$</string>
            <key>textureFileName</key>
            <string>10514_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
