<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10514_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,168}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,56},{126,168}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{128,166}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,58},{128,166}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{128,166}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,58},{128,166}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,168}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,56},{124,168}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,340},{122,166}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,58},{122,166}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,172},{122,166}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,58},{122,166}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10514_idle.pvr.ccz</string>
            <key>size</key>
            <string>{256,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e0d9b38c868e7667de1ec5cd674d156$</string>
            <key>textureFileName</key>
            <string>10514_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
