<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10328_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{90,166}}</string>
                <key>offset</key>
                <string>{-43,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,111},{90,166}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,148}}</string>
                <key>offset</key>
                <string>{-63,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,128},{120,148}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{168,196}}</string>
                <key>offset</key>
                <string>{-70,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,78},{168,196}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,170},{136,214}}</string>
                <key>offset</key>
                <string>{-35,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,52},{136,214}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,170},{170,204}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{170,204}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{138,164}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,107},{138,164}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10328_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{482,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c05ccaf112df45e7dd3484bb3beb5cac$</string>
            <key>textureFileName</key>
            <string>10328_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
