<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001_skill_101_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,178}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,63},{152,178}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_skill_101_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{160,166}}</string>
                <key>offset</key>
                <string>{-42,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,75},{160,166}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_skill_101_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{152,180}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,61},{152,180}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10001_skill_101.pvr.ccz</string>
            <key>size</key>
            <string>{184,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e53584035f0479b5dfd2cddc814da81f$</string>
            <key>textureFileName</key>
            <string>10001_skill_101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
