<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001_skill_103_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,176}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,63},{146,176}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_skill_103_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{110,186}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,53},{110,186}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_skill_103_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{176,188}}</string>
                <key>offset</key>
                <string>{50,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,50},{176,188}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_skill_103_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{142,200}}</string>
                <key>offset</key>
                <string>{62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,39},{142,200}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_skill_103_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,192},{102,194}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,45},{102,194}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10001_skill_103.pvr.ccz</string>
            <key>size</key>
            <string>{440,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:625fa97e37161a5361a2eb781f1abe80$</string>
            <key>textureFileName</key>
            <string>10001_skill_103.pvr.ccz</string>
        </dict>
    </dict>
</plist>
