<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,164}}</string>
                <key>offset</key>
                <string>{-24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{154,164}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{92,158}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,79},{92,158}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{152,162}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{152,162}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{144,162}}</string>
                <key>offset</key>
                <string>{-25,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,78},{144,162}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,168},{90,162}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,78},{90,162}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
            <key>10001_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,168},{154,168}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{154,168}}</string>
                <key>sourceSize</key>
                <string>{316,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10001_move.pvr.ccz</string>
            <key>size</key>
            <string>{406,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c20dd7e938dbd86c239f5b7cac8a1721$</string>
            <key>textureFileName</key>
            <string>10001_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
