<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10504_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,175}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,89},{85,175}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{101,179}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,85},{101,179}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,183},{111,179}}</string>
                <key>offset</key>
                <string>{-15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,85},{111,179}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,183},{147,173}}</string>
                <key>offset</key>
                <string>{28,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,91},{147,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{111,167}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,97},{111,167}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{111,167}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,97},{111,167}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{103,167}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,97},{103,167}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10504_attack.pvr.ccz</string>
            <key>size</key>
            <string>{410,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25bd33d812eb1de386ddf347fadf456$</string>
            <key>textureFileName</key>
            <string>10504_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
