<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arraylayer_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{98,100}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,60},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>btn_closeS.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>peopleattr_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>task_npc_button_cell2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,102},{788,56}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{788,56}}</string>
                <key>sourceSize</key>
                <string>{834,64}</string>
            </dict>
            <key>task_npc_button_cell3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,118},{788,52}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{788,52}}</string>
                <key>sourceSize</key>
                <string>{834,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TaskDialog.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a7b92e0837d8a1616b117f5f34b460e$</string>
            <key>textureFileName</key>
            <string>TaskDialog.pvr.ccz</string>
        </dict>
    </dict>
</plist>
