<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10324_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{102,202}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,40},{102,202}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,412},{128,202}}</string>
                <key>offset</key>
                <string>{50,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,40},{128,202}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{120,200}}</string>
                <key>offset</key>
                <string>{50,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,42},{120,200}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,220}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,22},{80,220}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{82,214}}</string>
                <key>offset</key>
                <string>{31,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,28},{82,214}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,86},{96,214}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,28},{96,214}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,296},{114,214}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,28},{114,214}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,184},{110,216}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,26},{110,216}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{112,202}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,40},{112,202}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_skill_111_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{90,202}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,39},{90,202}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10324_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{440,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c72559646c4ef3c514f3775944ef44b$</string>
            <key>textureFileName</key>
            <string>10324_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
