<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50302_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,133}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{206,133}}</string>
                <key>sourceSize</key>
                <string>{266,165}</string>
            </dict>
            <key>50302_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{224,133}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{224,133}}</string>
                <key>sourceSize</key>
                <string>{266,165}</string>
            </dict>
            <key>50302_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{224,135}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{224,135}}</string>
                <key>sourceSize</key>
                <string>{266,165}</string>
            </dict>
            <key>50302_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,137},{214,131}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{214,131}}</string>
                <key>sourceSize</key>
                <string>{266,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50302_1.pvr.ccz</string>
            <key>size</key>
            <string>{444,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a47bbfc5011695d19e7b86220d3b58$</string>
            <key>textureFileName</key>
            <string>50302_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
