<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50323_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,238}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{150,238}}</string>
                <key>sourceSize</key>
                <string>{184,258}</string>
            </dict>
            <key>50323_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{144,236}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{144,236}}</string>
                <key>sourceSize</key>
                <string>{184,258}</string>
            </dict>
            <key>50323_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,242},{144,236}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{144,236}}</string>
                <key>sourceSize</key>
                <string>{184,258}</string>
            </dict>
            <key>50323_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{144,238}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{144,238}}</string>
                <key>sourceSize</key>
                <string>{184,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50323_0.pvr.ccz</string>
            <key>size</key>
            <string>{300,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f12379c693df6ba9b182bfa4e7937db$</string>
            <key>textureFileName</key>
            <string>50323_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
