<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_hidden2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,110},{30,106}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{30,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>effects_hidden2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{40,106}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{40,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>effects_hidden2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,110},{24,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{24,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>effects_hidden2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{42,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>effects_hidden2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{34,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{34,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>effects_hidden2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,110},{36,106}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{36,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>effects_hidden2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{28,106}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{28,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>effects_hidden2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{38,106}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{38,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>effects_hidden2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{36,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{36,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_hidden_2.pvr.ccz</string>
            <key>size</key>
            <string>{152,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c213e3b7e84e96c9a04b63337298385$</string>
            <key>textureFileName</key>
            <string>effects_hidden_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
