<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50312_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,86},{70,70}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>50312_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,70}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{82,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>50312_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,66}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{82,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>50312_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{80,64}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50312_0.pvr.ccz</string>
            <key>size</key>
            <string>{154,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e81e8ce33f61969509be2f0ab8d0472$</string>
            <key>textureFileName</key>
            <string>50312_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
