<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lists_character.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,375}}</string>
                <key>sourceSize</key>
                <string>{323,375}</string>
            </dict>
            <key>lists_faild.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,379},{130,130}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,171},{130,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lists_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{130,130}}</string>
                <key>offset</key>
                <string>{-31,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,71},{130,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ArenaResources.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c10a6e9d71958d8e329be79c8e02efc6$</string>
            <key>textureFileName</key>
            <string>ArenaResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
