<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10310_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,274},{148,142}}</string>
                <key>offset</key>
                <string>{-49,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,88},{148,142}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{114,164}}</string>
                <key>offset</key>
                <string>{-32,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{114,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{106,192}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,37},{106,192}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,128},{144,144}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,28},{144,144}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,238},{162,122}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,17},{162,122}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,362},{158,116}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,114},{158,116}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,96},{142,140}}</string>
                <key>offset</key>
                <string>{-46,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{142,140}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,124}}</string>
                <key>offset</key>
                <string>{-25,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,115},{192,124}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{202,92}}</string>
                <key>offset</key>
                <string>{-19,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,151},{202,92}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{210,66}}</string>
                <key>offset</key>
                <string>{-17,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,179},{210,66}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10310_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{468,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47dcac8a8c2179bb5c227857b0d88040$</string>
            <key>textureFileName</key>
            <string>10310_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
