<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10310_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,114},{114,194}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,37},{114,194}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{114,194}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,37},{114,194}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,198},{112,194}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,37},{112,194}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{110,192}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,39},{110,192}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,192}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,39},{110,192}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{112,194}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,37},{112,194}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10310_idle.pvr.ccz</string>
            <key>size</key>
            <string>{510,312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc8eb03420bb3caa6e09ec2749fdeccd$</string>
            <key>textureFileName</key>
            <string>10310_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
