<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10323_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,158}}</string>
                <key>offset</key>
                <string>{-45,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,91},{186,158}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{162,148}}</string>
                <key>offset</key>
                <string>{-37,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,86},{162,148}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,190},{156,162}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,86},{156,162}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,190},{160,156}}</string>
                <key>offset</key>
                <string>{-35,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,92},{160,156}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{164,148}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,88},{164,148}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,162}}</string>
                <key>offset</key>
                <string>{-45,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,87},{186,162}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10323_move.pvr.ccz</string>
            <key>size</key>
            <string>{474,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edbaa11a45ba3dca9649b0ea288bab09$</string>
            <key>textureFileName</key>
            <string>10323_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
