<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50301_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,252}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,64},{293,252}}</string>
                <key>sourceSize</key>
                <string>{403,340}</string>
            </dict>
            <key>50301_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{161,274}}</string>
                <key>offset</key>
                <string>{59,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,54},{161,274}}</string>
                <key>sourceSize</key>
                <string>{403,340}</string>
            </dict>
            <key>50301_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{85,214}}</string>
                <key>offset</key>
                <string>{101,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,111},{85,214}}</string>
                <key>sourceSize</key>
                <string>{403,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50301_0.pvr.ccz</string>
            <key>size</key>
            <string>{460,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0de071cb2fe72f3887423124dfdf7b$</string>
            <key>textureFileName</key>
            <string>50301_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
