<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10339_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,106},{102,188}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{102,188}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,188}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{102,188}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{102,188}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{102,188}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,296},{102,186}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,90},{102,186}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{102,186}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,90},{102,186}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,188}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{102,188}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10339_idle.pvr.ccz</string>
            <key>size</key>
            <string>{378,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:935f32c9ee8d7e54e3ddbc8cc3a5b8db$</string>
            <key>textureFileName</key>
            <string>10339_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
