<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_loading_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effects_loading_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effects_loading_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{92,44}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{92,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effects_loading_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,100},{98,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{98,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effects_loading_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{98,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{98,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effects_loading_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,48},{98,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{98,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effects_loading_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effects_loading_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_loading.pvr.ccz</string>
            <key>size</key>
            <string>{244,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d7b85a7a77f6747d6cd918143ca64b$</string>
            <key>textureFileName</key>
            <string>effects_loading.pvr.ccz</string>
        </dict>
    </dict>
</plist>
