<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10320_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,324},{182,174}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,46},{182,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,182}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,52},{142,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,150},{172,176}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,48},{172,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{182,174}}</string>
                <key>offset</key>
                <string>{-28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{182,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{146,180}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,57},{146,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{164,172}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{164,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10320_move.pvr.ccz</string>
            <key>size</key>
            <string>{370,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f50d2c733b53778f516a157e6491e101$</string>
            <key>textureFileName</key>
            <string>10320_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
