<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10305_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{160,242}}</string>
                <key>offset</key>
                <string>{-84,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,68},{160,242}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,582},{174,216}}</string>
                <key>offset</key>
                <string>{-22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,94},{174,216}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{348,180}}</string>
                <key>offset</key>
                <string>{65,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,130},{348,180}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,164}}</string>
                <key>offset</key>
                <string>{64,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,148},{350,164}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{348,176}}</string>
                <key>offset</key>
                <string>{65,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,136},{348,176}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,278},{158,302}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,11},{158,302}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{152,274}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,38},{152,274}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10305_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{512,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c381cb113cd3ef3c38f53ad8f52e016c$</string>
            <key>textureFileName</key>
            <string>10305_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
