<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10516_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,126},{162,72}}</string>
                <key>offset</key>
                <string>{-44,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,169},{162,72}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,156},{168,100}}</string>
                <key>offset</key>
                <string>{-49,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,141},{168,100}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{156,70}}</string>
                <key>offset</key>
                <string>{-42,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,174},{156,70}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{152,104}}</string>
                <key>offset</key>
                <string>{-50,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,137},{152,104}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,200},{128,144}}</string>
                <key>offset</key>
                <string>{-48,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,97},{128,144}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{172,114}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,131},{172,114}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{186,62}}</string>
                <key>offset</key>
                <string>{-13,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,180},{186,62}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{192,56}}</string>
                <key>offset</key>
                <string>{-11,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,187},{192,56}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,60},{186,64}}</string>
                <key>offset</key>
                <string>{-7,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,180},{186,64}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,54}}</string>
                <key>offset</key>
                <string>{-7,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,192},{186,54}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10516_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{494,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a898c644f56b01f2d54e773394ffbc0f$</string>
            <key>textureFileName</key>
            <string>10516_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
