<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10516_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{174,80}}</string>
                <key>offset</key>
                <string>{-46,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,159},{174,80}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,132}}</string>
                <key>offset</key>
                <string>{-32,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,107},{134,132}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,92},{126,138}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,98},{126,138}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{178,88}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,151},{178,88}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,158},{162,86}}</string>
                <key>offset</key>
                <string>{14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,157},{162,86}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,84},{174,72}}</string>
                <key>offset</key>
                <string>{-8,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,168},{174,72}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
            <key>10516_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{160,98}}</string>
                <key>offset</key>
                <string>{-29,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,140},{160,98}}</string>
                <key>sourceSize</key>
                <string>{284,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10516_attack.pvr.ccz</string>
            <key>size</key>
            <string>{494,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ebb9ea67891d836ac934db6278dc20$</string>
            <key>textureFileName</key>
            <string>10516_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
