<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10301_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,180}}</string>
                <key>offset</key>
                <string>{-44,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,66},{166,180}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,328},{116,176}}</string>
                <key>offset</key>
                <string>{-52,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,70},{116,176}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{142,182}}</string>
                <key>offset</key>
                <string>{-46,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,63},{142,182}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,146},{162,180}}</string>
                <key>offset</key>
                <string>{-39,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{162,180}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{116,178}}</string>
                <key>offset</key>
                <string>{-51,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,71},{116,178}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{140,190}}</string>
                <key>offset</key>
                <string>{-51,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,57},{140,190}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10301_move.pvr.ccz</string>
            <key>size</key>
            <string>{360,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1e7acf12ab39d32f1c4a7f580b7a3c3$</string>
            <key>textureFileName</key>
            <string>10301_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
