<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10301_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,210},{196,204}}</string>
                <key>offset</key>
                <string>{-74,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{196,204}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{206,206}}</string>
                <key>offset</key>
                <string>{-94,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{206,206}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{182,204}}</string>
                <key>offset</key>
                <string>{-65,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,48},{182,204}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,146}}</string>
                <key>offset</key>
                <string>{45,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,106},{270,146}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{240,162}}</string>
                <key>offset</key>
                <string>{29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,90},{240,162}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,408},{202,170}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,82},{202,170}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>10301_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{138,178}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,73},{138,178}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10301_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{482,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:172e7dd2a6c832799768ea9cae6fc305$</string>
            <key>textureFileName</key>
            <string>10301_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
