<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_hidden_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,28},{30,26}}</string>
                <key>offset</key>
                <string>{-66,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{30,26}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>effects_hidden_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,156},{42,42}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{42,42}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>effects_hidden_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{166,34}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{166,34}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>effects_hidden_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{168,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{168,32}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>effects_hidden_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{156,32}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{156,32}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>effects_hidden_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{156,30}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{156,30}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>effects_hidden_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{156,26}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{156,26}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>effects_hidden_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,24}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{154,24}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_hidden_1.pvr.ccz</string>
            <key>size</key>
            <string>{214,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b3c583129729bb4d8807fdc3d073e98$</string>
            <key>textureFileName</key>
            <string>effects_hidden_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
