<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_hidden4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,172}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,45},{87,172}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
            <key>effects_hidden4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{87,180}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{87,180}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
            <key>effects_hidden4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{87,184}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{87,184}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
            <key>effects_hidden4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{85,182}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{85,182}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
            <key>effects_hidden4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{85,182}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{85,182}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
            <key>effects_hidden4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{83,196}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{83,196}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
            <key>effects_hidden4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,188},{83,198}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{83,198}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
            <key>effects_hidden4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,188},{85,202}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{85,202}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
            <key>effects_hidden4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,188},{85,204}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{85,204}}</string>
                <key>sourceSize</key>
                <string>{135,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_hidden_4.pvr.ccz</string>
            <key>size</key>
            <string>{443,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b17c91971d6b0a5e14d7a088ffba151$</string>
            <key>textureFileName</key>
            <string>effects_hidden_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
