<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>team_captain.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>team_dropdow_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,86},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>team_dropdown_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,60},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>team_dropdown_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,44},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>team_effective_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>team_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>team_team_name_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,90}}</string>
                <key>sourceSize</key>
                <string>{134,90}</string>
            </dict>
            <key>team_writing_zdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeamViewResources.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e172a3329704ed2a45ec0c989d87586$</string>
            <key>textureFileName</key>
            <string>TeamViewResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
