<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50325_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,186}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{332,186}}</string>
                <key>sourceSize</key>
                <string>{356,268}</string>
            </dict>
            <key>50325_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,190},{298,186}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,66},{298,186}}</string>
                <key>sourceSize</key>
                <string>{356,268}</string>
            </dict>
            <key>50325_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{300,178}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,70},{300,178}}</string>
                <key>sourceSize</key>
                <string>{356,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50325_0.pvr.ccz</string>
            <key>size</key>
            <string>{370,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74c09c5e75fe3c922115eb8716776afb$</string>
            <key>textureFileName</key>
            <string>50325_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
