<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50319_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{258,128}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{258,128}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>50319_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{286,126}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{286,126}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>50319_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{292,122}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{292,122}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>50319_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,124}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{294,124}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50319_1.pvr.ccz</string>
            <key>size</key>
            <string>{298,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d48312f43106d50ebb4b77cef71c361$</string>
            <key>textureFileName</key>
            <string>50319_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
