<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10515_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{128,210}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,37},{128,210}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{166,202}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,45},{166,202}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,228}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,19},{102,228}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10515_attack.pvr.ccz</string>
            <key>size</key>
            <string>{232,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d77680a0c270e9d44e9607f10fcdbd16$</string>
            <key>textureFileName</key>
            <string>10515_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
