<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recharge_derframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,304},{118,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,34}}</string>
                <key>sourceSize</key>
                <string>{120,34}</string>
            </dict>
            <key>recharge_notice_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{290,603}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{290,603}}</string>
                <key>sourceSize</key>
                <string>{300,615}</string>
            </dict>
            <key>recharge_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,304},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>recharge_underframe_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,294},{89,101}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{89,101}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>recharge_underframe_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,304},{89,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{89,101}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>recharge_word_czssbhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,135}}</string>
                <key>sourceSize</key>
                <string>{300,135}</string>
            </dict>
            <key>recharge_word_czzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,425},{272,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,61}}</string>
                <key>sourceSize</key>
                <string>{272,61}</string>
            </dict>
            <key>recharge_word_qxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{252,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,35}}</string>
                <key>sourceSize</key>
                <string>{252,35}</string>
            </dict>
            <key>recharge_word_scc.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,39},{217,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,30}}</string>
                <key>sourceSize</key>
                <string>{219,30}</string>
            </dict>
            <key>rechatge_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{182,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,26}}</string>
                <key>sourceSize</key>
                <string>{182,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RechargeResources.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82256c6ab4abc09f210532789ec72310$</string>
            <key>textureFileName</key>
            <string>RechargeResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
