<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10327_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,258},{122,186}}</string>
                <key>offset</key>
                <string>{-46,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{122,186}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{136,186}}</string>
                <key>offset</key>
                <string>{-64,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,47},{136,186}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{140,172}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,65},{140,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,138},{186,150}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,39},{186,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{194,102}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,77},{194,102}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,290},{182,114}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{182,114}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,62},{194,84}}</string>
                <key>offset</key>
                <string>{-14,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,152},{194,84}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,62},{202,74}}</string>
                <key>offset</key>
                <string>{-14,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,171},{202,74}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,58}}</string>
                <key>offset</key>
                <string>{-12,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,183},{216,58}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,64}}</string>
                <key>offset</key>
                <string>{-11,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,180},{216,64}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10327_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{510,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd4aedbafaef07c1b79841379a2154bc$</string>
            <key>textureFileName</key>
            <string>10327_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
