<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50338_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,40}}</string>
                <key>offset</key>
                <string>{-7,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,233},{174,40}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{182,160}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,113},{182,160}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{246,220}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,86},{246,220}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{262,274}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,41},{262,274}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,222},{246,320}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,2},{246,320}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,476},{266,280}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{266,280}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,470},{306,256}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{306,256}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,224},{330,250}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{330,250}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{324,218}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,81},{324,218}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
            <key>50338_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{290,242}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{290,242}}</string>
                <key>sourceSize</key>
                <string>{386,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50338_0.pvr.ccz</string>
            <key>size</key>
            <string>{948,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fda068d587704882a050b936b75b2f2$</string>
            <key>textureFileName</key>
            <string>50338_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
