<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10340_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{116,196}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,35},{116,196}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10340_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{150,184}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,45},{150,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10340_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,200},{176,144}}</string>
                <key>offset</key>
                <string>{12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,85},{176,144}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10340_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,152}}</string>
                <key>offset</key>
                <string>{9,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,87},{170,152}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10340_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{126,170}}</string>
                <key>offset</key>
                <string>{-29,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,59},{126,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10340_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,130},{122,182}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,48},{122,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10340_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{464,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6084b36e1cd99cb937b9cf3e6c235944$</string>
            <key>textureFileName</key>
            <string>10340_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
