<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50334_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,124}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{156,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>50334_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{124,124}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{124,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>50334_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{102,112}}</string>
                <key>offset</key>
                <string>{28,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,32},{102,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>50334_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{122,120}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{122,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50334_0.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d0d0e0418630e4453ac8ce2ac892a0f$</string>
            <key>textureFileName</key>
            <string>50334_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
