<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10310_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,222},{126,180}}</string>
                <key>offset</key>
                <string>{-51,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,50},{126,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{120,188}}</string>
                <key>offset</key>
                <string>{-54,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,42},{120,188}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,222},{152,168}}</string>
                <key>offset</key>
                <string>{-61,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,63},{152,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,218}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,12},{90,218}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{98,212}}</string>
                <key>offset</key>
                <string>{-27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,18},{98,212}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{94,214}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,16},{94,214}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10310_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{102,194}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,36},{102,194}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10310_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{406,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b85ea28fefc214e2860b4d4ddc4772c0$</string>
            <key>textureFileName</key>
            <string>10310_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
