<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50022_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{335,108}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,150},{335,108}}</string>
                <key>sourceSize</key>
                <string>{433,314}</string>
            </dict>
            <key>50022_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{335,152}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,110},{335,152}}</string>
                <key>sourceSize</key>
                <string>{433,314}</string>
            </dict>
            <key>50022_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{347,146}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,114},{347,146}}</string>
                <key>sourceSize</key>
                <string>{433,314}</string>
            </dict>
            <key>50022_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,162}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,104},{355,162}}</string>
                <key>sourceSize</key>
                <string>{433,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50022.pvr.ccz</string>
            <key>size</key>
            <string>{469,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02af29540610245b4b58d0c5f5b9fe3$</string>
            <key>textureFileName</key>
            <string>50022.pvr.ccz</string>
        </dict>
    </dict>
</plist>
