<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_button_add_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,178},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>shop_button_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,136},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>shop_button_recharge_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop_button_recharge_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop_button_subtract_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>shop_button_subtract_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShopReSources.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33750fb46c819d8439905877d899422$</string>
            <key>textureFileName</key>
            <string>ShopReSources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
