<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10303_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{168,220}}</string>
                <key>offset</key>
                <string>{25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,73},{168,220}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,214}}</string>
                <key>offset</key>
                <string>{26,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,79},{170,214}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{168,214}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,79},{168,214}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{164,218}}</string>
                <key>offset</key>
                <string>{22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,75},{164,218}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,222},{160,224}}</string>
                <key>offset</key>
                <string>{21,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,69},{160,224}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,222},{162,226}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,67},{162,226}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10303_idle.pvr.ccz</string>
            <key>size</key>
            <string>{510,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61c07c65c8875904e2d071dd6152a36a$</string>
            <key>textureFileName</key>
            <string>10303_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
