<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10302_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{122,176}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,83},{122,176}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,134},{118,194}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,67},{118,194}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{100,218}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,37},{100,218}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,98},{158,158}}</string>
                <key>offset</key>
                <string>{17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,97},{158,158}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,258},{190,98}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,104},{190,98}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,358},{152,108}}</string>
                <key>offset</key>
                <string>{19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,145},{152,108}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,358},{156,134}}</string>
                <key>offset</key>
                <string>{-38,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,108},{156,134}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,130}}</string>
                <key>offset</key>
                <string>{-19,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,144},{210,130}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{222,94}}</string>
                <key>offset</key>
                <string>{-19,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,181},{222,94}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{234,42}}</string>
                <key>offset</key>
                <string>{-11,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,231},{234,42}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10302_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{492,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af0f71182019f91c87d2b7771248351b$</string>
            <key>textureFileName</key>
            <string>10302_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
