<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10302_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,90},{88,218}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,42},{88,218}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,180},{90,214}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,46},{90,214}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{90,212}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,48},{90,212}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{88,212}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,48},{88,212}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,214}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,46},{84,214}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{86,218}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,42},{86,218}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10302_idle.pvr.ccz</string>
            <key>size</key>
            <string>{438,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a1b5931a2f946e8087603897fb9707$</string>
            <key>textureFileName</key>
            <string>10302_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
