<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10003_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,76},{104,160}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,58},{104,160}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{72,190}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,18},{72,190}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,140}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,33},{60,140}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{70,114}}</string>
                <key>offset</key>
                <string>{-13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,30},{70,114}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{84,142}}</string>
                <key>offset</key>
                <string>{-17,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,81},{84,142}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,76},{92,146}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,32},{92,146}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{114,130}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{114,130}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,170},{150,128}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,34},{150,128}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_jump_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,182},{138,136}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{138,136}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10003_jump.pvr.ccz</string>
            <key>size</key>
            <string>{456,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5766ac95efb3090f7082567e11953754$</string>
            <key>textureFileName</key>
            <string>10003_jump.pvr.ccz</string>
        </dict>
    </dict>
</plist>
