<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10326_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,197}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,25},{110,197}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{138,191}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,31},{138,191}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{116,151}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,73},{116,151}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{124,181}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,43},{124,181}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{202,89}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{202,89}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,201},{178,105}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,64},{178,105}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{208,87}}</string>
                <key>offset</key>
                <string>{-27,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,169},{208,87}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,308},{200,77}}</string>
                <key>offset</key>
                <string>{-22,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,171},{200,77}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{208,67}}</string>
                <key>offset</key>
                <string>{-26,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,180},{208,67}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
            <key>10326_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,397},{216,59}}</string>
                <key>offset</key>
                <string>{-25,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,188},{216,59}}</string>
                <key>sourceSize</key>
                <string>{338,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10326_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{498,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34ddc8e8473210116923e680102fde11$</string>
            <key>textureFileName</key>
            <string>10326_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
