<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>copy_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,77},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>copy_dividing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,28}}</string>
                <key>sourceSize</key>
                <string>{376,28}</string>
            </dict>
            <key>copy_frame_normal11.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,725},{189,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,137}}</string>
                <key>sourceSize</key>
                <string>{189,137}</string>
            </dict>
            <key>copy_frame_normal12.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,538},{185,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,133}}</string>
                <key>sourceSize</key>
                <string>{185,133}</string>
            </dict>
            <key>copy_frame_normal13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,351},{185,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,133}}</string>
                <key>sourceSize</key>
                <string>{185,133}</string>
            </dict>
            <key>copy_frame_normal21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{200,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,155}}</string>
                <key>sourceSize</key>
                <string>{200,155}</string>
            </dict>
            <key>copy_frame_normal22.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,721},{200,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,155}}</string>
                <key>sourceSize</key>
                <string>{200,155}</string>
            </dict>
            <key>copy_frame_normal23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{200,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,155}}</string>
                <key>sourceSize</key>
                <string>{200,155}</string>
            </dict>
            <key>copy_frame_normal31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{200,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,155}}</string>
                <key>sourceSize</key>
                <string>{200,155}</string>
            </dict>
            <key>copy_frame_normal32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{200,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,155}}</string>
                <key>sourceSize</key>
                <string>{200,155}</string>
            </dict>
            <key>copy_frame_normal33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{200,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,155}}</string>
                <key>sourceSize</key>
                <string>{200,155}</string>
            </dict>
            <key>copy_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,32},{177,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,90}}</string>
                <key>sourceSize</key>
                <string>{177,90}</string>
            </dict>
            <key>copy_sign_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,326},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>copy_title_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{113,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,39}}</string>
                <key>sourceSize</key>
                <string>{113,39}</string>
            </dict>
            <key>copy_word_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,186},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>copy_word_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,162},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>copy_word_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,43},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>copy_word_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,551},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>copy_word_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,381},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>copy_word_fbtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{284,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,85}}</string>
                <key>sourceSize</key>
                <string>{284,85}</string>
            </dict>
            <key>copy_word_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,179},{170,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,31}}</string>
                <key>sourceSize</key>
                <string>{170,31}</string>
            </dict>
            <key>copy_word_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,211},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>copy_word_sab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,119},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>copy_word_sab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,268},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>copy_word_sab_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,210},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>copy_word_sqwp.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,43},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>copy_word_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,121},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DuplicateResources.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7acd46959d927d81e57364fc9cf5db$</string>
            <key>textureFileName</key>
            <string>DuplicateResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
