<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10320_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,180}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,58},{202,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,180}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,58},{202,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{204,176}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{204,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,360},{206,170}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,68},{206,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{204,168}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,70},{204,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,184},{202,174}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,64},{202,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10320_idle.pvr.ccz</string>
            <key>size</key>
            <string>{416,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f0a79e291e7dd0fb56c769bee4c656a$</string>
            <key>textureFileName</key>
            <string>10320_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
