<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10509_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{135,131}}</string>
                <key>offset</key>
                <string>{-29,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,128},{135,131}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,220},{113,145}}</string>
                <key>offset</key>
                <string>{-18,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,114},{113,145}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,137},{95,173}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,78},{95,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{133,133}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,78},{133,133}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,234},{153,107}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,80},{153,107}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{147,111}}</string>
                <key>offset</key>
                <string>{7,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,141},{147,111}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,97},{139,121}}</string>
                <key>offset</key>
                <string>{-32,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,131},{139,121}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,119}}</string>
                <key>offset</key>
                <string>{-15,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,148},{177,119}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{189,93}}</string>
                <key>offset</key>
                <string>{-10,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,176},{189,93}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,97},{195,53}}</string>
                <key>offset</key>
                <string>{-9,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,212},{195,53}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10509_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{512,405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de6d60be04ab5e59f32c3f3aaa10bc01$</string>
            <key>textureFileName</key>
            <string>10509_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
