<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10341_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,106},{102,186}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,46},{102,186}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{102,184}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,48},{102,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{102,184}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,48},{102,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,186}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,46},{102,186}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{102,182}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,50},{102,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{102,184}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,48},{102,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10341_idle.pvr.ccz</string>
            <key>size</key>
            <string>{480,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b67529b27728825ee17f13155b423de1$</string>
            <key>textureFileName</key>
            <string>10341_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
