<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10306_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,118},{132,118}}</string>
                <key>offset</key>
                <string>{-15,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,103},{132,118}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{132,114}}</string>
                <key>offset</key>
                <string>{-18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,108},{132,114}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,98}}</string>
                <key>offset</key>
                <string>{-10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,102},{140,98}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{132,118}}</string>
                <key>offset</key>
                <string>{-13,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,106},{132,118}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,118},{130,118}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,106},{130,118}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{136,98}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,102},{136,98}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10306_move.pvr.ccz</string>
            <key>size</key>
            <string>{416,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a21378f8bee4a3e35067c355a8dead46$</string>
            <key>textureFileName</key>
            <string>10306_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
