<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10513_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{157,181}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,88},{157,181}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,222},{159,171}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,97},{159,171}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{119,165}}</string>
                <key>offset</key>
                <string>{17,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,107},{119,165}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,169},{133,185}}</string>
                <key>offset</key>
                <string>{49,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,82},{133,185}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,105},{115,185}}</string>
                <key>offset</key>
                <string>{18,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,81},{115,185}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{101,185}}</string>
                <key>offset</key>
                <string>{25,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,83},{101,185}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,181}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,88},{89,181}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{125,175}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,92},{125,175}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10513_attack.pvr.ccz</string>
            <key>size</key>
            <string>{501,383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4cd7c22893722b970239b6e20dcb089$</string>
            <key>textureFileName</key>
            <string>10513_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
