<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10519_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,184},{138,164}}</string>
                <key>offset</key>
                <string>{19,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,75},{138,164}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>10519_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{132,192}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,47},{132,192}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>10519_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,180}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,60},{174,180}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>10519_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{156,192}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{156,192}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>10519_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,164}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,26},{172,164}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>10519_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,208},{130,126}}</string>
                <key>offset</key>
                <string>{-25,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,51},{130,126}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>10519_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{204,112}}</string>
                <key>offset</key>
                <string>{-25,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,132},{204,112}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>10519_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,350},{242,68}}</string>
                <key>offset</key>
                <string>{-47,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,176},{242,68}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>10519_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,420},{246,54}}</string>
                <key>offset</key>
                <string>{-44,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,190},{246,54}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10519_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{466,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef2a85ec542be13834f755b270388b6c$</string>
            <key>textureFileName</key>
            <string>10519_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
