<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_login_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,520},{162,156}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{162,156}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>effects_login_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,520},{162,166}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{162,166}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>effects_login_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{162,174}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{162,174}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>effects_login_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{178,174}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{178,174}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>effects_login_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,350},{168,174}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{168,174}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>effects_login_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{172,154}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{172,154}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>effects_login_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,174}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{182,174}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>effects_login_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{178,174}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{178,174}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>effects_login_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,178},{174,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{174,170}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_login.pvr.ccz</string>
            <key>size</key>
            <string>{508,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3d97cd27e0bb42acb50da7f8efdbb35$</string>
            <key>textureFileName</key>
            <string>effects_login.pvr.ccz</string>
        </dict>
    </dict>
</plist>
