<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10331_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,180}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,52},{146,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,178}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,54},{146,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{140,178}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,54},{140,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{136,180}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,52},{136,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,184},{136,180}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,52},{136,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,184},{140,180}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,52},{140,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10331_idle.pvr.ccz</string>
            <key>size</key>
            <string>{440,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621bee3cb9061bf7d76601dd234ed3a8$</string>
            <key>textureFileName</key>
            <string>10331_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
