<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50308_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{52,54}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>50308_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{52,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{52,50}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>50308_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{48,54}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50308_1.pvr.ccz</string>
            <key>size</key>
            <string>{106,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c355b7e3d779e882c8a49b0e8e7534db$</string>
            <key>textureFileName</key>
            <string>50308_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
