<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10319_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{132,180}}</string>
                <key>offset</key>
                <string>{-21,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,88},{132,180}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{136,176}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,92},{136,176}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,174}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,94},{140,174}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,318},{132,176}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,92},{132,176}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,136},{128,180}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{128,180}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{130,182}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,86},{130,182}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10319_idle.pvr.ccz</string>
            <key>size</key>
            <string>{326,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4909191e03ae4aa4762a73b8af160f0f$</string>
            <key>textureFileName</key>
            <string>10319_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
