<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_dcframe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,94},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{90,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>guide_dcframe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>guide_jsframe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,94},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{90,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>guide_jsframe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>guide_word_dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,290},{50,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>guide_word_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,238},{50,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,30}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>guide_word_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,186},{50,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>guide_xzframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10301.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,750},{70,81}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{70,81}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10302.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,667},{84,81}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{84,81}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10303.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,338},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10304.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,353},{86,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10305.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,269},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10306.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,660},{84,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{84,85}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10307.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,264},{90,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{90,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10308.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,519},{78,87}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{78,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10309.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,505},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{82,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10310.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,677},{74,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{74,83}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10311.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,521},{72,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{72,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{78,83}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{78,83}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10313.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,441},{78,87}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{78,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10314.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,189},{80,91}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{80,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10315.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,433},{70,89}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{70,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10316.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,185},{82,91}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{82,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10317.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,589},{76,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{76,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10318.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,588},{70,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{70,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{74,87}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10320.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,186},{76,91}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{80,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{80,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{78,89}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{78,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10323.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,262},{74,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{74,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{82,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{82,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10325.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,433},{84,87}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{84,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10326.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,271},{80,89}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{80,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{78,87}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{78,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10328.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,99},{88,91}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{88,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10329.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,595},{86,85}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,85}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10330.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{90,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{90,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{88,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{88,85}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10332.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,99},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{84,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{88,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{88,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10334.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{90,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10335.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,353},{78,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{78,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10336.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,588},{62,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{62,85}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10337.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,514},{72,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{72,87}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10338.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,599},{76,85}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{76,85}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10339.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,428},{84,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{84,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10340.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,186},{74,91}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{74,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>sg10341.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,359},{72,89}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{72,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GuiderResources.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccf34f43962a010e3bba7acafaa562df$</string>
            <key>textureFileName</key>
            <string>GuiderResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
