<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10316_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,168}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,62},{124,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10316_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{124,166}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,64},{124,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10316_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{122,160}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,70},{122,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10316_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,340},{122,156}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,74},{122,156}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10316_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,168},{122,158}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,72},{122,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10316_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,164}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,66},{122,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10316_idle.pvr.ccz</string>
            <key>size</key>
            <string>{252,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2df3328a74e0f8f8133293e5ee6f341d$</string>
            <key>textureFileName</key>
            <string>10316_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
