<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10002_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,176},{176,152}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,109},{176,152}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{174,190}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,58},{174,190}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,330},{174,142}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,62},{174,142}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{172,172}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,87},{172,172}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{114,206}}</string>
                <key>offset</key>
                <string>{-21,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,32},{114,206}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,194},{94,182}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,58},{94,182}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,190}}</string>
                <key>offset</key>
                <string>{-83,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{240,190}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10002_jump.pvr.ccz</string>
            <key>size</key>
            <string>{452,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eaa76857971f0699eabf08f3dd6afb2$</string>
            <key>textureFileName</key>
            <string>10002_jump.pvr.ccz</string>
        </dict>
    </dict>
</plist>
