<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50335_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,543},{470,155}}</string>
                <key>offset</key>
                <string>{-48,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{470,155}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{418,137}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,15},{418,137}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,230},{396,139}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,17},{396,139}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{390,149}}</string>
                <key>offset</key>
                <string>{40,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,11},{390,149}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{468,149}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,14},{468,149}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,394},{472,147}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,18},{472,147}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{454,141}}</string>
                <key>offset</key>
                <string>{24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,20},{454,141}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,99}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,37},{424,99}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{406,107}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,33},{406,107}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,111},{402,117}}</string>
                <key>offset</key>
                <string>{37,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,28},{402,117}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
            <key>50335_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{438,107}}</string>
                <key>offset</key>
                <string>{56,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,34},{438,107}}</string>
                <key>sourceSize</key>
                <string>{566,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50335_0.pvr.ccz</string>
            <key>size</key>
            <string>{997,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e19e59190d3f62c4f3025226c9e033e8$</string>
            <key>textureFileName</key>
            <string>50335_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
