<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10901_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{46,79}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{46,79}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>10901_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,79}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{48,79}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>10901_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{58,65}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{58,65}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>10901_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{42,53}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{42,53}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>10901_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,110},{38,53}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{38,53}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>10901_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,150},{38,51}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{38,51}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>10901_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,57},{42,51}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{42,51}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>10901_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{60,61}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{60,61}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10901_idle.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9800997ae79bd1c4ddb21413a20e505d$</string>
            <key>textureFileName</key>
            <string>10901_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
