<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_vs_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,386},{278,266}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{278,266}}</string>
                <key>sourceSize</key>
                <string>{304,266}</string>
            </dict>
            <key>effects_vs_line0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{648,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,69}}</string>
                <key>sourceSize</key>
                <string>{648,69}</string>
            </dict>
            <key>effects_vs_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{448,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{448,49}}</string>
                <key>sourceSize</key>
                <string>{450,49}</string>
            </dict>
            <key>effects_vs_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{448,49}}</string>
                <key>sourceSize</key>
                <string>{450,49}</string>
            </dict>
            <key>effects_vs_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{329,258}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{329,258}}</string>
                <key>sourceSize</key>
                <string>{329,276}</string>
            </dict>
            <key>effects_vs_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{329,234}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{329,234}}</string>
                <key>sourceSize</key>
                <string>{329,276}</string>
            </dict>
            <key>effects_vs_player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,186},{327,242}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{327,242}}</string>
                <key>sourceSize</key>
                <string>{329,276}</string>
            </dict>
            <key>effects_vs_player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,124},{315,260}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{315,260}}</string>
                <key>sourceSize</key>
                <string>{329,276}</string>
            </dict>
            <key>effects_vs_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,430},{333,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,247}}</string>
                <key>sourceSize</key>
                <string>{333,247}</string>
            </dict>
            <key>effects_vs_word_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,53},{302,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,131}}</string>
                <key>sourceSize</key>
                <string>{304,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_vs.pvr.ccz</string>
            <key>size</key>
            <string>{979,679}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e09e384e4018854c6efe03c99e5e992$</string>
            <key>textureFileName</key>
            <string>effects_vs.pvr.ccz</string>
        </dict>
    </dict>
</plist>
