<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10308_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,98},{128,110}}</string>
                <key>offset</key>
                <string>{-37,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,162},{128,110}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,224},{144,186}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,79},{144,186}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,244}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,15},{94,244}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{128,178}}</string>
                <key>offset</key>
                <string>{-25,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,42},{128,178}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{158,166}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,108},{158,166}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{156,102}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,169},{156,102}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,98},{124,132}}</string>
                <key>offset</key>
                <string>{-16,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,137},{124,132}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{94,172}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,96},{94,172}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10308_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{424,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:318c8f9f0e4683d8a0dc560185a8dbed$</string>
            <key>textureFileName</key>
            <string>10308_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
