<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10308_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,178}}</string>
                <key>offset</key>
                <string>{-47,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,85},{100,178}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{146,160}}</string>
                <key>offset</key>
                <string>{-78,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,93},{146,160}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{180,162}}</string>
                <key>offset</key>
                <string>{-59,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,80},{180,162}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{104,180}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,87},{104,180}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,182},{152,166}}</string>
                <key>offset</key>
                <string>{-79,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,92},{152,166}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,182},{180,158}}</string>
                <key>offset</key>
                <string>{-62,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,79},{180,158}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10308_move.pvr.ccz</string>
            <key>size</key>
            <string>{444,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad1ee77d631a334be5196d721fd14985$</string>
            <key>textureFileName</key>
            <string>10308_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
