<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10313_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{100,150}}</string>
                <key>offset</key>
                <string>{-12,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,88},{100,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,318},{114,166}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,72},{114,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,204}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,34},{124,204}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{124,204}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,34},{124,204}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,204}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,34},{124,204}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,128},{114,188}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,49},{114,188}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10313_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{376,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:895c69fa5d2dac3a1b9e72aa1fb36e6e$</string>
            <key>textureFileName</key>
            <string>10313_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
