<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10313_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{116,186}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,51},{116,186}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,184}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,53},{114,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{114,182}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,55},{114,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{114,182}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,55},{114,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,118},{116,182}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,55},{116,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,186},{116,184}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,53},{116,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10313_idle.pvr.ccz</string>
            <key>size</key>
            <string>{494,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f96421e7c535247a0a889f9640a823e$</string>
            <key>textureFileName</key>
            <string>10313_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
