<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>clan_acitivet_undrframe.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,665},{177,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,42}}</string>
			<key>sourceSize</key>
			<string>{177,42}</string>
		</dict>
		<key>clan_picture_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,411},{175,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,255}}</string>
			<key>sourceSize</key>
			<string>{175,255}</string>
		</dict>
		<key>clan_picture_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{175,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,255}}</string>
			<key>sourceSize</key>
			<string>{175,255}</string>
		</dict>
		<key>clan_picture_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,326},{175,247}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{175,247}}</string>
			<key>sourceSize</key>
			<string>{175,255}</string>
		</dict>
		<key>clan_picture_cat.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{277,230}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{277,230}}</string>
			<key>sourceSize</key>
			<string>{301,232}</string>
		</dict>
		<key>clan_skill_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,588},{160,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,217}}</string>
			<key>sourceSize</key>
			<string>{160,217}</string>
		</dict>
		<key>clan_skill_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,673},{48,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,30}}</string>
			<key>sourceSize</key>
			<string>{48,30}</string>
		</dict>
		<key>clan_word_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,503},{124,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,30}}</string>
			<key>sourceSize</key>
			<string>{124,30}</string>
		</dict>
		<key>clan_word_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,629},{108,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,30}}</string>
			<key>sourceSize</key>
			<string>{108,30}</string>
		</dict>
		<key>clan_word_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,588},{83,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,30}}</string>
			<key>sourceSize</key>
			<string>{83,30}</string>
		</dict>
		<key>clan_word_stgg.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,739},{94,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,27}}</string>
			<key>sourceSize</key>
			<string>{94,27}</string>
		</dict>
		<key>clan_word_strz.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,665},{94,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,27}}</string>
			<key>sourceSize</key>
			<string>{94,27}</string>
		</dict>
		<key>clan_skill_51.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,503},{160,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,217}}</string>
			<key>sourceSize</key>
			<string>{160,217}</string>
		</dict>
		<key>clan_skill_52.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,164},{160,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,217}}</string>
			<key>sourceSize</key>
			<string>{160,217}</string>
		</dict>
		<key>clan_skill_53.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,2},{160,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,217}}</string>
			<key>sourceSize</key>
			<string>{160,217}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FactionResources.pvr.ccz</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8168d75ca03ff858db46d29fca9d5591$</string>
		<key>textureFileName</key>
		<string>FactionResources.pvr.ccz</string>
	</dict>
</dict>
</plist>
