<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10322_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,178}}</string>
                <key>offset</key>
                <string>{-83,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{148,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,174},{140,180}}</string>
                <key>offset</key>
                <string>{-85,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{140,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,356},{108,178}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,59},{108,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,356},{166,114}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,61},{166,114}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,244},{138,96}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,67},{138,96}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,78},{164,110}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,122},{164,110}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{176,124}}</string>
                <key>offset</key>
                <string>{-61,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,112},{176,124}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,78},{194,94}}</string>
                <key>offset</key>
                <string>{-43,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,157},{194,94}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{208,74}}</string>
                <key>offset</key>
                <string>{-35,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,171},{208,74}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{212,72}}</string>
                <key>offset</key>
                <string>{-35,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,172},{212,72}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10322_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{498,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85385d6336ec74a9d3a179e1d8de9765$</string>
            <key>textureFileName</key>
            <string>10322_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
