<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10322_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,158}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,68},{124,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{150,150}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,75},{150,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{164,166}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,46},{164,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{124,170}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,61},{124,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,170},{154,168}}</string>
                <key>offset</key>
                <string>{-27,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,61},{154,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,170},{174,158}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,48},{174,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10322_move.pvr.ccz</string>
            <key>size</key>
            <string>{460,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68df82d33072cb8193d2b90143e2037b$</string>
            <key>textureFileName</key>
            <string>10322_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
