<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10315_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,150}}</string>
                <key>offset</key>
                <string>{-33,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,73},{168,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{108,146}}</string>
                <key>offset</key>
                <string>{-8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,81},{108,146}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{176,138}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{176,138}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{166,150}}</string>
                <key>offset</key>
                <string>{-33,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,76},{166,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,154},{108,150}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,80},{108,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,154},{182,140}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{182,140}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10315_move.pvr.ccz</string>
            <key>size</key>
            <string>{464,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae350212d151088153a582660aa0e8db$</string>
            <key>textureFileName</key>
            <string>10315_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
