<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10335_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,156},{64,180}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,52},{64,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,120}}</string>
                <key>offset</key>
                <string>{-38,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,112},{124,120}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,156},{110,178}}</string>
                <key>offset</key>
                <string>{-36,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,54},{110,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{176,150}}</string>
                <key>offset</key>
                <string>{66,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,83},{176,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{188,154}}</string>
                <key>offset</key>
                <string>{72,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,79},{188,154}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{168,152}}</string>
                <key>offset</key>
                <string>{58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,80},{168,152}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,156},{126,162}}</string>
                <key>offset</key>
                <string>{24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,70},{126,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10335_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{498,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51bd6baede39b42d14b151df6f14874d$</string>
            <key>textureFileName</key>
            <string>10335_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
