<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_hcr4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{40,56}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{40,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{34,58}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{34,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,84},{32,56}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{32,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,56}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{40,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{36,58}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{36,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{30,58}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{30,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,44},{38,54}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{38,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_hcr4.pvr.ccz</string>
            <key>size</key>
            <string>{120,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fefba07f11853079ab9a794e4385cd63$</string>
            <key>textureFileName</key>
            <string>effects_hcr4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
