<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50309_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,174},{205,166}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{205,166}}</string>
                <key>sourceSize</key>
                <string>{257,200}</string>
            </dict>
            <key>50309_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,182}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{209,182}}</string>
                <key>sourceSize</key>
                <string>{257,200}</string>
            </dict>
            <key>50309_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{207,170}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{207,170}}</string>
                <key>sourceSize</key>
                <string>{257,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50309_2.pvr.ccz</string>
            <key>size</key>
            <string>{422,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5680fca252ff96820a31f286b94532ee$</string>
            <key>textureFileName</key>
            <string>50309_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
