<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10328_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,146}}</string>
                <key>offset</key>
                <string>{-30,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,126},{120,146}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{132,222}}</string>
                <key>offset</key>
                <string>{-69,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{132,222}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{102,224}}</string>
                <key>offset</key>
                <string>{-51,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{102,224}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{72,216}}</string>
                <key>offset</key>
                <string>{-47,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,18},{72,216}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{140,212}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,36},{140,212}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,228},{94,184}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,75},{94,184}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,228},{84,196}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,67},{84,196}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
            <key>10328_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,228},{90,212}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,54},{90,212}}</string>
                <key>sourceSize</key>
                <string>{322,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10328_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{436,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be1396bd924ace66eef528f69e9ba88$</string>
            <key>textureFileName</key>
            <string>10328_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
