<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10507_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{138,192}}</string>
                <key>offset</key>
                <string>{21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,84},{138,192}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,138},{140,192}}</string>
                <key>offset</key>
                <string>{32,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,86},{140,192}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{134,196}}</string>
                <key>offset</key>
                <string>{44,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,79},{134,196}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,280},{166,190}}</string>
                <key>offset</key>
                <string>{34,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,84},{166,190}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{152,188}}</string>
                <key>offset</key>
                <string>{37,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,88},{152,188}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,194}}</string>
                <key>offset</key>
                <string>{35,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,80},{128,194}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10507_move.pvr.ccz</string>
            <key>size</key>
            <string>{396,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d2d967e4183814410b6ca07a9ff472$</string>
            <key>textureFileName</key>
            <string>10507_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
