<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10317_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,156}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,79},{126,156}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{108,174}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,63},{108,174}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{112,166}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,74},{112,166}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{126,194}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,46},{126,194}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{212,94}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,55},{212,94}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,198},{188,108}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,77},{188,108}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{212,94}}</string>
                <key>offset</key>
                <string>{-19,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,180},{212,94}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,308},{210,82}}</string>
                <key>offset</key>
                <string>{-15,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,182},{210,82}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{216,72}}</string>
                <key>offset</key>
                <string>{-18,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,193},{216,72}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,404},{222,66}}</string>
                <key>offset</key>
                <string>{-17,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,200},{222,66}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10317_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{482,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e8d3a8fbda447802fa0c44374d6299f$</string>
            <key>textureFileName</key>
            <string>10317_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
