<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10317_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{86,176}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,60},{86,176}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,186},{178,180}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,53},{178,180}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,184}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{184,184}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,368},{88,180}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,59},{88,180}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{182,186}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{182,186}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{182,182}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,55},{182,182}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10317_move.pvr.ccz</string>
            <key>size</key>
            <string>{372,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e2a7310976781511187e31d7274368e$</string>
            <key>textureFileName</key>
            <string>10317_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
