<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,437},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>role_exp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{282,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,25}}</string>
                <key>sourceSize</key>
                <string>{282,25}</string>
            </dict>
            <key>role_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{396,48}}</string>
                <key>sourceSize</key>
                <string>{404,50}</string>
            </dict>
            <key>role_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{210,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,38}}</string>
                <key>sourceSize</key>
                <string>{210,38}</string>
            </dict>
            <key>role_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>role_vip_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,483},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,480},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,480},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,286},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,460},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,460},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,308},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,459},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>role_vip_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>vip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{50,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RoleResurece.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:342264a9e5b11beeba9abbf3cc588d1a$</string>
            <key>textureFileName</key>
            <string>RoleResurece.pvr.ccz</string>
        </dict>
    </dict>
</plist>
