<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10507_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,234},{136,240}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,37},{136,240}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,134},{98,248}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,29},{98,248}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,440},{92,162}}</string>
                <key>offset</key>
                <string>{8,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,114},{92,162}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{130,214}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,58},{130,214}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{258,164}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,68},{258,164}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,106}}</string>
                <key>offset</key>
                <string>{-57,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,123},{282,106}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{232,142}}</string>
                <key>offset</key>
                <string>{-61,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,156},{232,142}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{182,118}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,157},{182,118}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,372},{192,60}}</string>
                <key>offset</key>
                <string>{0,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,230},{192,60}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
            <key>10507_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,372},{194,66}}</string>
                <key>offset</key>
                <string>{1,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,225},{194,66}}</string>
                <key>sourceSize</key>
                <string>{396,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10507_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{512,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a12e7cbed309fab5de3b778964bb8108$</string>
            <key>textureFileName</key>
            <string>10507_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
