<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10515_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{92,210}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,37},{92,210}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,186},{92,212}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,35},{92,212}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,94},{90,212}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,35},{90,212}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{90,214}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,33},{90,214}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,212}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,35},{90,212}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,212}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,35},{90,212}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10515_idle.pvr.ccz</string>
            <key>size</key>
            <string>{432,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:733aaf19d233089fe07f740a25748e33$</string>
            <key>textureFileName</key>
            <string>10515_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
