<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10515_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,190},{124,204}}</string>
                <key>offset</key>
                <string>{-32,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,43},{124,204}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,58},{130,210}}</string>
                <key>offset</key>
                <string>{-46,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,37},{130,210}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{108,210}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,24},{108,210}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{156,182}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,24},{156,182}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,316},{184,130}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{184,130}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,448},{134,142}}</string>
                <key>offset</key>
                <string>{-29,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,96},{134,142}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,448},{150,144}}</string>
                <key>offset</key>
                <string>{-27,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,99},{150,144}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{198,150}}</string>
                <key>offset</key>
                <string>{-11,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,98},{198,150}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,118}}</string>
                <key>offset</key>
                <string>{-7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,136},{214,118}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
            <key>10515_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,54}}</string>
                <key>offset</key>
                <string>{-5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,196},{214,54}}</string>
                <key>sourceSize</key>
                <string>{254,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10515_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{482,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:134e1b53bee5255e40c992509f141037$</string>
            <key>textureFileName</key>
            <string>10515_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
