<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10337_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,190}}</string>
                <key>offset</key>
                <string>{-42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,43},{82,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{88,190}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,40},{88,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{124,174}}</string>
                <key>offset</key>
                <string>{47,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,61},{124,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{104,170}}</string>
                <key>offset</key>
                <string>{38,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,64},{104,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{116,170}}</string>
                <key>offset</key>
                <string>{43,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,65},{116,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,194},{176,164}}</string>
                <key>offset</key>
                <string>{72,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,70},{176,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,194},{104,156}}</string>
                <key>offset</key>
                <string>{36,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,78},{104,156}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10337_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{408,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cde4c1f2e9e3c7163fe0c3b6a64c54c5$</string>
            <key>textureFileName</key>
            <string>10337_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
