<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10304_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,194}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,91},{104,194}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{104,190}}</string>
                <key>offset</key>
                <string>{-14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,95},{104,190}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,108},{104,186}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,99},{104,186}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{104,184}}</string>
                <key>offset</key>
                <string>{-14,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,101},{104,184}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{104,186}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,99},{104,186}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{104,190}}</string>
                <key>offset</key>
                <string>{-14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,95},{104,190}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10304_idle.pvr.ccz</string>
            <key>size</key>
            <string>{496,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5a5519f6b7a9790c966e49d51c95d89$</string>
            <key>textureFileName</key>
            <string>10304_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
