<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10304_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,274},{158,172}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,121},{158,172}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{236,142}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,146},{236,142}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,142}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,146},{236,142}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,146},{216,126}}</string>
                <key>offset</key>
                <string>{-5,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,164},{216,126}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,410},{182,130}}</string>
                <key>offset</key>
                <string>{-16,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,156},{182,130}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{130,168}}</string>
                <key>offset</key>
                <string>{-40,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,117},{130,168}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,146},{88,262}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,5},{88,262}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{84,260}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,10},{84,260}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{166,190}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,49},{166,190}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,546},{144,142}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,143},{144,142}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,594},{110,142}}</string>
                <key>offset</key>
                <string>{5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,143},{110,142}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
            <key>10304_skill_112_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,434},{110,182}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,106},{110,182}}</string>
                <key>sourceSize</key>
                <string>{328,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10304_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{502,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:723d659047547d37d3e1422a138bb81c$</string>
            <key>textureFileName</key>
            <string>10304_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
