<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_hits_hits_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{258,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{258,58}}</string>
                <key>sourceSize</key>
                <string>{258,70}</string>
            </dict>
            <key>login_LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,467},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>superstore_lv_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{261,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,60}}</string>
                <key>sourceSize</key>
                <string>{261,60}</string>
            </dict>
            <key>superstore_vip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,263},{64,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>superstore_vip_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{259,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,51}}</string>
                <key>sourceSize</key>
                <string>{261,51}</string>
            </dict>
            <key>superstore_word_jsth.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,265},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>superstore_word_mrlc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,56}}</string>
                <key>sourceSize</key>
                <string>{494,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SuperDealsShopResources.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f32a2c63033624cb6c24ecb15a2a8f16$</string>
            <key>textureFileName</key>
            <string>SuperDealsShopResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
