<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10004_skill_103_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{148,192}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,117},{148,192}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_103_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,220},{146,204}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,84},{146,204}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_103_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,216}}</string>
                <key>offset</key>
                <string>{50,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,71},{192,216}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_103_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{184,216}}</string>
                <key>offset</key>
                <string>{16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,108},{184,216}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10004_skill_103.pvr.ccz</string>
            <key>size</key>
            <string>{346,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0e5ae1159737a7c81a32d0dfb4fc7c4$</string>
            <key>textureFileName</key>
            <string>10004_skill_103.pvr.ccz</string>
        </dict>
    </dict>
</plist>
