<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10002_skill_113_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{114,196}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,68},{114,196}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_113_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{110,182}}</string>
                <key>offset</key>
                <string>{-23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,82},{110,182}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_113_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,148}}</string>
                <key>offset</key>
                <string>{-46,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,116},{156,148}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_113_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,200},{130,150}}</string>
                <key>offset</key>
                <string>{-33,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,114},{130,150}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10002_skill_113.pvr.ccz</string>
            <key>size</key>
            <string>{276,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0282ab4fdbb774610e8f23eac17b5601$</string>
            <key>textureFileName</key>
            <string>10002_skill_113.pvr.ccz</string>
        </dict>
    </dict>
</plist>
