<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10002_skill_101_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,160}}</string>
                <key>offset</key>
                <string>{-31,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,101},{166,160}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_101_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{154,150}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,111},{154,150}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_101_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{222,144}}</string>
                <key>offset</key>
                <string>{34,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,117},{222,144}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10002_skill_101.pvr.ccz</string>
            <key>size</key>
            <string>{316,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30bffd7f5b2232f1bd4da25ee6b49f13$</string>
            <key>textureFileName</key>
            <string>10002_skill_101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
