<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10002_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,164},{162,162}}</string>
                <key>offset</key>
                <string>{-34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,99},{162,162}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,162}}</string>
                <key>offset</key>
                <string>{-32,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{160,162}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{162,162}}</string>
                <key>offset</key>
                <string>{-30,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,99},{162,162}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,164},{164,162}}</string>
                <key>offset</key>
                <string>{-31,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,99},{164,162}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,328},{166,164}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,97},{166,164}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{166,162}}</string>
                <key>offset</key>
                <string>{-34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,99},{166,162}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{166,160}}</string>
                <key>offset</key>
                <string>{-36,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,101},{166,160}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,160}}</string>
                <key>offset</key>
                <string>{-35,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,101},{164,160}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10002_idle.pvr.ccz</string>
            <key>size</key>
            <string>{500,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f01f3121e3e341bc7aac5247b3ff8de$</string>
            <key>textureFileName</key>
            <string>10002_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
