<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10002_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,268},{142,146}}</string>
                <key>offset</key>
                <string>{-33,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{142,146}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{216,146}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,116},{216,146}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{264,156}}</string>
                <key>offset</key>
                <string>{38,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,106},{264,156}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,158}}</string>
                <key>offset</key>
                <string>{43,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,104},{274,158}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
            <key>10002_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,268},{162,154}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,108},{162,154}}</string>
                <key>sourceSize</key>
                <string>{406,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10002_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{458,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0fe52c0853552b9ea97ee6567119dcd$</string>
            <key>textureFileName</key>
            <string>10002_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
