<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10101_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{88,196}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,151},{88,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>10101_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{88,196}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,151},{88,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>10101_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{90,196}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,151},{90,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>10101_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,196}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,151},{88,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10101.pvr.ccz</string>
            <key>size</key>
            <string>{200,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd7ac3927cb92f1a65de7c6088344986$</string>
            <key>textureFileName</key>
            <string>10101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
