<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10307_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,199},{139,127}}</string>
                <key>offset</key>
                <string>{7,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,155},{139,127}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{143,139}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,142},{143,139}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{195,143}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,132},{195,143}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,167}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,109},{169,167}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10307_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{318,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89071252a72b3584565a5d514fab4791$</string>
            <key>textureFileName</key>
            <string>10307_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
