<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10305_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,144},{164,228}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,83},{164,228}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,132}}</string>
                <key>offset</key>
                <string>{57,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,199},{264,132}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{286,148}}</string>
                <key>offset</key>
                <string>{66,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,188},{286,148}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,310},{282,142}}</string>
                <key>offset</key>
                <string>{68,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,193},{282,142}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,454},{290,154}}</string>
                <key>offset</key>
                <string>{64,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,180},{290,154}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{218,164}}</string>
                <key>offset</key>
                <string>{90,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,184},{218,164}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{140,186}}</string>
                <key>offset</key>
                <string>{11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,127},{140,186}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_skill_111_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{144,260}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,51},{144,260}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10305_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{506,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29f04ab09217b5bb1894d8117d56929b$</string>
            <key>textureFileName</key>
            <string>10305_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
