<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10307_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{147,203}}</string>
                <key>offset</key>
                <string>{-39,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,79},{147,203}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,147},{147,273}}</string>
                <key>offset</key>
                <string>{-39,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,9},{147,273}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{163,203}}</string>
                <key>offset</key>
                <string>{-47,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,79},{163,203}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,296},{177,177}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,106},{177,177}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{143,161}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,122},{143,161}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{143,165}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,118},{143,165}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
            <key>10307_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,175}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,108},{127,175}}</string>
                <key>sourceSize</key>
                <string>{357,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10307_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{509,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7fdb30cc74fdf817ffe92fd59299153$</string>
            <key>textureFileName</key>
            <string>10307_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
