<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10309_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,168}}</string>
                <key>offset</key>
                <string>{-34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,64},{152,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10309_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{184,164}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,53},{184,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10309_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{120,174}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,61},{120,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10309_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{156,172}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{156,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10309_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,178},{180,158}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{180,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10309_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,178},{116,174}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,58},{116,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10309_move.pvr.ccz</string>
            <key>size</key>
            <string>{464,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba95b86502c221ad7a49d903a3f8832c$</string>
            <key>textureFileName</key>
            <string>10309_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
