<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10306_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{80,130}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,89},{80,130}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,164}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,53},{56,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{76,180}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,42},{76,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{70,178}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,42},{70,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{78,178}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,42},{78,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10306_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{184,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73940a12b61eee6e8d06d739092e30ad$</string>
            <key>textureFileName</key>
            <string>10306_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
