<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10302_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,178}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,67},{154,178}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{218,170}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{218,170}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{144,182}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,74},{144,182}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,182},{162,174}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,72},{162,174}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{220,164}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,69},{220,164}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
            <key>10302_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,366},{140,182}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,77},{140,182}}</string>
                <key>sourceSize</key>
                <string>{304,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10302_move.pvr.ccz</string>
            <key>size</key>
            <string>{378,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c361a5e63267b0456aafac505d1caec3$</string>
            <key>textureFileName</key>
            <string>10302_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
