<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10305_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,236},{142,244}}</string>
                <key>offset</key>
                <string>{-41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,67},{142,244}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,236},{142,238}}</string>
                <key>offset</key>
                <string>{-41,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,73},{142,238}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,232}}</string>
                <key>offset</key>
                <string>{-41,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,79},{142,232}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,230}}</string>
                <key>offset</key>
                <string>{-41,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,81},{142,230}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,232}}</string>
                <key>offset</key>
                <string>{-42,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,79},{142,232}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
            <key>10305_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{142,238}}</string>
                <key>offset</key>
                <string>{-41,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,73},{142,238}}</string>
                <key>sourceSize</key>
                <string>{484,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10305_idle.pvr.ccz</string>
            <key>size</key>
            <string>{434,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abc2510080975aac27eb3d6edc623285$</string>
            <key>textureFileName</key>
            <string>10305_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
