<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10308_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{128,122}}</string>
                <key>offset</key>
                <string>{-37,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,150},{128,122}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,114},{204,136}}</string>
                <key>offset</key>
                <string>{-69,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,142},{204,136}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,156}}</string>
                <key>offset</key>
                <string>{-53,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,94},{98,156}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,252},{202,206}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,45},{202,206}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{102,168}}</string>
                <key>offset</key>
                <string>{-59,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,80},{102,168}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{246,194}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{246,194}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,106},{130,146}}</string>
                <key>offset</key>
                <string>{-42,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,87},{130,146}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
            <key>10308_skill_111_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{136,110}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,73},{136,110}}</string>
                <key>sourceSize</key>
                <string>{372,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10308_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{486,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766beaddf54d8a1afc2f4f68561db67a$</string>
            <key>textureFileName</key>
            <string>10308_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
