<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10306_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,118},{84,192}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,33},{84,192}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,244},{132,198}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,29},{132,198}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{82,162}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,44},{82,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,118},{124,132}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,29},{124,132}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{142,136}}</string>
                <key>offset</key>
                <string>{-13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,14},{142,136}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,204},{136,124}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,102},{136,124}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{128,114}}</string>
                <key>offset</key>
                <string>{-48,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,119},{128,114}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,122}}</string>
                <key>offset</key>
                <string>{-32,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,134},{160,122}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{170,96}}</string>
                <key>offset</key>
                <string>{-28,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,160},{170,96}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,62}}</string>
                <key>offset</key>
                <string>{-26,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,194},{176,62}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10306_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{502,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c90f86e6f4982a031d0d02d26a63720$</string>
            <key>textureFileName</key>
            <string>10306_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
