<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10306_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,104}}</string>
                <key>offset</key>
                <string>{32,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,121},{138,104}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{134,98}}</string>
                <key>offset</key>
                <string>{-70,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{134,98}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{122,90}}</string>
                <key>offset</key>
                <string>{13,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,135},{122,90}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10306_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{136,104}}</string>
                <key>offset</key>
                <string>{22,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,121},{136,104}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10306_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{142,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:764e9c30c3a76762a73d19d8ed280e9e$</string>
            <key>textureFileName</key>
            <string>10306_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
