<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10313_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,218},{114,190}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,47},{114,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,214}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,23},{116,214}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{112,194}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,43},{112,194}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{108,176}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,61},{108,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{118,158}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,80},{118,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,230},{114,146}}</string>
                <key>offset</key>
                <string>{-17,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,92},{114,146}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,230},{108,148}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,90},{108,148}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,122},{106,156}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,82},{106,156}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_skill_112_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{102,170}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,67},{102,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10313_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{498,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04c1c8e421ca319ad911897639422ef9$</string>
            <key>textureFileName</key>
            <string>10313_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
