<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10312_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,152}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,59},{186,152}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{126,150}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,78},{126,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{142,162}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,66},{142,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{184,154}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,60},{184,154}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,166},{126,154}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,75},{126,154}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,166},{144,162}}</string>
                <key>offset</key>
                <string>{-20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,68},{144,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10312_move.pvr.ccz</string>
            <key>size</key>
            <string>{462,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12515bd77dfa4caca1da9cb3f7287a4a$</string>
            <key>textureFileName</key>
            <string>10312_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
