<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10311_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,112},{120,132}}</string>
                <key>offset</key>
                <string>{-44,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,91},{120,132}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10311_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,114},{146,122}}</string>
                <key>offset</key>
                <string>{-55,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,102},{146,122}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10311_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,238},{146,130}}</string>
                <key>offset</key>
                <string>{-56,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,94},{146,130}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10311_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{124,134}}</string>
                <key>offset</key>
                <string>{-44,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,88},{124,134}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10311_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{116,136}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,87},{116,136}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10311_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{108,140}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,83},{108,140}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10311_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{110,142}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,81},{110,142}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10311_skill_111_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,150}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,73},{100,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10311_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{440,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7247c4e314072aea255c878d33d943d6$</string>
            <key>textureFileName</key>
            <string>10311_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
