<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10315_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{84,138}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,92},{84,138}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{66,174}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,56},{66,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,240},{116,170}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,51},{116,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,142},{146,110}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,68},{146,110}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,68},{142,70}}</string>
                <key>offset</key>
                <string>{-19,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,70},{142,70}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{150,88}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,138},{150,88}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{130,134}}</string>
                <key>offset</key>
                <string>{-39,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,88},{130,134}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{170,98}}</string>
                <key>offset</key>
                <string>{-21,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,137},{170,98}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{188,64}}</string>
                <key>offset</key>
                <string>{-11,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,172},{188,64}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,52}}</string>
                <key>offset</key>
                <string>{-8,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,183},{198,52}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10315_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{478,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a5dcb20d19ee6a714afe4a5803155f$</string>
            <key>textureFileName</key>
            <string>10315_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
