<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10314_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,151}}</string>
                <key>offset</key>
                <string>{-29,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,114},{79,151}}</string>
                <key>sourceSize</key>
                <string>{317,281}</string>
            </dict>
            <key>10314_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{99,161}}</string>
                <key>offset</key>
                <string>{-35,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,104},{99,161}}</string>
                <key>sourceSize</key>
                <string>{317,281}</string>
            </dict>
            <key>10314_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{141,161}}</string>
                <key>offset</key>
                <string>{-44,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,103},{141,161}}</string>
                <key>sourceSize</key>
                <string>{317,281}</string>
            </dict>
            <key>10314_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{125,163}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,102},{125,163}}</string>
                <key>sourceSize</key>
                <string>{317,281}</string>
            </dict>
            <key>10314_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,129},{175,175}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,90},{175,175}}</string>
                <key>sourceSize</key>
                <string>{317,281}</string>
            </dict>
            <key>10314_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,103},{143,171}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,94},{143,171}}</string>
                <key>sourceSize</key>
                <string>{317,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10314_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{495,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6c12bf7372fa133ea8720bad2de7734$</string>
            <key>textureFileName</key>
            <string>10314_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
