<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10317_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,118},{144,156}}</string>
                <key>offset</key>
                <string>{33,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,84},{144,156}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,196}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,43},{160,196}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{116,224}}</string>
                <key>offset</key>
                <string>{22,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,15},{116,224}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
            <key>10317_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{114,214}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,26},{114,214}}</string>
                <key>sourceSize</key>
                <string>{284,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10317_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{380,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f1737a0bf841a476d9b61263e44df25$</string>
            <key>textureFileName</key>
            <string>10317_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
