<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10322_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,148},{138,152}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,78},{138,152}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,148},{138,148}}</string>
                <key>offset</key>
                <string>{-16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,82},{138,148}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,144}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,86},{136,144}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,142}}</string>
                <key>offset</key>
                <string>{-15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,88},{136,142}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,144}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,86},{136,144}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{138,148}}</string>
                <key>offset</key>
                <string>{-16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,82},{138,148}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10322_idle.pvr.ccz</string>
            <key>size</key>
            <string>{422,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7c8329959a1e743cb4f61830db36238$</string>
            <key>textureFileName</key>
            <string>10322_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
