<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10322_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,170}}</string>
                <key>offset</key>
                <string>{-66,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,60},{118,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{106,178}}</string>
                <key>offset</key>
                <string>{-58,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,52},{106,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{180,202}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,28},{180,202}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{176,178}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,52},{176,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,206},{140,208}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,22},{140,208}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10322_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,206},{140,176}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,55},{140,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10322_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{464,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c0098ced10cc8622fd85e401e956da2$</string>
            <key>textureFileName</key>
            <string>10322_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
