<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10320_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,190}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,48},{184,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{134,238}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,0},{134,238}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{142,240}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{142,240}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{228,176}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{228,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,244},{214,172}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,67},{214,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{180,174}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{180,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,422},{188,182}}</string>
                <key>offset</key>
                <string>{-33,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,58},{188,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{232,172}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,68},{232,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10320_skill_112_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,606},{212,172}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,68},{212,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10320_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{468,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f82e5a2b489a1ba2f179cca04531d0$</string>
            <key>textureFileName</key>
            <string>10320_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
