<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10335_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,108},{164,106}}</string>
                <key>offset</key>
                <string>{-14,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,124},{164,106}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{144,104}}</string>
                <key>offset</key>
                <string>{-11,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,126},{144,104}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,98}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,121},{154,98}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,108},{166,106}}</string>
                <key>offset</key>
                <string>{-14,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{166,106}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{124,108}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,126},{124,108}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10335_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{158,104}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,120},{158,104}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10335_move.pvr.ccz</string>
            <key>size</key>
            <string>{464,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77bee22f59ea4c19c4379061c8a5dfa5$</string>
            <key>textureFileName</key>
            <string>10335_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
