<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10341_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,188}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,44},{100,188}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{116,190}}</string>
                <key>offset</key>
                <string>{-32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,42},{116,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{112,142}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,91},{112,142}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{118,174}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,59},{118,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{194,84}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,59},{194,84}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,194},{170,102}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,77},{170,102}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{200,80}}</string>
                <key>offset</key>
                <string>{-42,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,170},{200,80}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,298},{194,72}}</string>
                <key>offset</key>
                <string>{-37,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,170},{194,72}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{200,60}}</string>
                <key>offset</key>
                <string>{-41,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,181},{200,60}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,380},{208,52}}</string>
                <key>offset</key>
                <string>{-39,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,193},{208,52}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10341_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{456,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e083ac5d01b21c3062cec4fdc0f077$</string>
            <key>textureFileName</key>
            <string>10341_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
