<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10341_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{126,190}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,42},{126,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,184},{124,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,24},{124,208}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{116,178}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,54},{116,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{128,180}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,52},{128,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,184},{108,194}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,38},{108,194}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,68},{164,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10341_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{416,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e8f3f1dde57f7d9ab87861865c7ac73$</string>
            <key>textureFileName</key>
            <string>10341_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
