<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10341_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,166}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{174,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{118,164}}</string>
                <key>offset</key>
                <string>{-30,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,69},{118,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{142,160}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,72},{142,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,178},{118,152}}</string>
                <key>offset</key>
                <string>{-31,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,80},{118,152}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,332},{66,158}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,74},{66,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10341_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{70,172}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,60},{70,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10341_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{242,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78e558ac215abedbbc25dd26ce93a334$</string>
            <key>textureFileName</key>
            <string>10341_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
