<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10506_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{134,150}}</string>
                <key>offset</key>
                <string>{-52,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,79},{134,150}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,272},{130,162}}</string>
                <key>offset</key>
                <string>{-50,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,67},{130,162}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{106,196}}</string>
                <key>offset</key>
                <string>{-28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,26},{106,196}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,126},{144,162}}</string>
                <key>offset</key>
                <string>{-18,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,2},{144,162}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{176,122}}</string>
                <key>offset</key>
                <string>{-31,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{176,122}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,200},{156,138}}</string>
                <key>offset</key>
                <string>{-27,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,87},{156,138}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,358},{144,140}}</string>
                <key>offset</key>
                <string>{-74,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,83},{144,140}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,146}}</string>
                <key>offset</key>
                <string>{-48,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,108},{188,146}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{200,122}}</string>
                <key>offset</key>
                <string>{-42,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,139},{200,122}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
            <key>10506_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{206,66}}</string>
                <key>offset</key>
                <string>{-40,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,187},{206,66}}</string>
                <key>sourceSize</key>
                <string>{322,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10506_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{502,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c296bf00e276062edc06f3140f91ee27$</string>
            <key>textureFileName</key>
            <string>10506_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
