<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10509_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{119,177}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,77},{119,177}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{67,183}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,73},{67,183}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{75,181}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,74},{75,181}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{113,179}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,78},{113,179}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,183}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,74},{67,183}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,187},{67,179}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,74},{67,179}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10509_move.pvr.ccz</string>
            <key>size</key>
            <string>{256,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64ff8b7756f3703256bf6882ce36a5af$</string>
            <key>textureFileName</key>
            <string>10509_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
