<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10504_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{97,167}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,97},{97,167}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,336},{97,165}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,99},{97,165}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,169},{97,165}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,99},{97,165}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,167}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,97},{97,167}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{97,165}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,99},{97,165}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{97,165}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,99},{97,165}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10504_idle.pvr.ccz</string>
            <key>size</key>
            <string>{200,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93f2f22125f42621b7e8c85240ea21f1$</string>
            <key>textureFileName</key>
            <string>10504_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
