<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10504_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{53,185}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,78},{53,185}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,183},{81,181}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{81,181}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{123,179}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,82},{123,179}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,185}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,78},{69,185}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{73,183}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,79},{73,183}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10504_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{117,183}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,82},{117,183}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10504_move.pvr.ccz</string>
            <key>size</key>
            <string>{204,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5af6adada5d6523a6660be0502cc059$</string>
            <key>textureFileName</key>
            <string>10504_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
