<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10509_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,177}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,81},{101,177}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{101,175}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,83},{101,175}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,105},{101,173}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,85},{101,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{101,171}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,87},{101,171}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{101,173}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,85},{101,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10509_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{101,175}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,83},{101,175}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10509_idle.pvr.ccz</string>
            <key>size</key>
            <string>{461,311}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6582c6d4598126a0b7a92267fdef587a$</string>
            <key>textureFileName</key>
            <string>10509_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
