<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10503_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,167}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,95},{109,167}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10503_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{107,163}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,99},{107,163}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10503_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,167},{107,161}}</string>
                <key>offset</key>
                <string>{8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,101},{107,161}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10503_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,338},{107,159}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,103},{107,159}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10503_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{107,163}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,99},{107,163}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10503_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{109,165}}</string>
                <key>offset</key>
                <string>{9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,97},{109,165}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10503_idle.pvr.ccz</string>
            <key>size</key>
            <string>{222,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:973b63b5e472e85d03c770deca261419$</string>
            <key>textureFileName</key>
            <string>10503_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
