<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10510_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{133,131}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,126},{133,131}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,97},{113,143}}</string>
                <key>offset</key>
                <string>{-18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,113},{113,143}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{93,175}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,74},{93,175}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{131,151}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,56},{131,151}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,252},{151,123}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,61},{151,123}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,135},{145,115}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,136},{145,115}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{139,119}}</string>
                <key>offset</key>
                <string>{-33,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,131},{139,119}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,212},{179,121}}</string>
                <key>offset</key>
                <string>{-17,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,148},{179,121}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{189,99}}</string>
                <key>offset</key>
                <string>{-12,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,175},{189,99}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10510_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,53}}</string>
                <key>offset</key>
                <string>{-11,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,210},{195,53}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10510_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{511,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c482e2cd6bad96297b90a19e4e9dae0$</string>
            <key>textureFileName</key>
            <string>10510_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
