<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10514_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,324},{188,174}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,47},{188,174}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{170,172}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,47},{170,172}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,176}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,42},{154,176}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{156,174}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,46},{156,174}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{158,174}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,47},{158,174}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,160},{162,180}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,42},{162,180}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10514_move.pvr.ccz</string>
            <key>size</key>
            <string>{366,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08974ced69ef7852950dcb28b46d65bb$</string>
            <key>textureFileName</key>
            <string>10514_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
