<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10511_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{127,201}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,68},{127,201}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{129,201}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,68},{129,201}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,262},{133,199}}</string>
                <key>offset</key>
                <string>{11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,70},{133,199}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{131,199}}</string>
                <key>offset</key>
                <string>{11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,70},{131,199}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,131},{129,199}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,70},{129,199}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,201}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,68},{127,201}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10511_idle.pvr.ccz</string>
            <key>size</key>
            <string>{408,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0382d8f62fbe4a635cc1f991858a6d5$</string>
            <key>textureFileName</key>
            <string>10511_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
