<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10518_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{252,184}}</string>
                <key>offset</key>
                <string>{-25,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{252,184}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,188},{184,232}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,19},{184,232}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{208,250}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,0},{208,250}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,150}}</string>
                <key>offset</key>
                <string>{92,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,101},{254,150}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,374},{138,150}}</string>
                <key>offset</key>
                <string>{36,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,101},{138,150}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,374},{156,142}}</string>
                <key>offset</key>
                <string>{43,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,108},{156,142}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{190,156}}</string>
                <key>offset</key>
                <string>{55,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,95},{190,156}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10518_attack.pvr.ccz</string>
            <key>size</key>
            <string>{512,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abd26c4c209f60e3aee320ce0bf13e2f$</string>
            <key>textureFileName</key>
            <string>10518_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
