<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10514_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{166,166}}</string>
                <key>offset</key>
                <string>{-29,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,57},{166,166}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{230,186}}</string>
                <key>offset</key>
                <string>{-81,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,37},{230,186}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{220,206}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{220,206}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{266,150}}</string>
                <key>offset</key>
                <string>{62,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,75},{266,150}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
            <key>10514_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,150}}</string>
                <key>offset</key>
                <string>{42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,74},{228,150}}</string>
                <key>sourceSize</key>
                <string>{408,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10514_attack.pvr.ccz</string>
            <key>size</key>
            <string>{234,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa39ec07ae793efb327f90b2d2bb9b1b$</string>
            <key>textureFileName</key>
            <string>10514_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
