<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10513_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,597},{109,171}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,98},{109,171}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{117,157}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,112},{117,157}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{159,195}}</string>
                <key>offset</key>
                <string>{13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,76},{159,195}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{195,119}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,105},{195,119}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{133,137}}</string>
                <key>offset</key>
                <string>{-19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,87},{133,137}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,400},{107,175}}</string>
                <key>offset</key>
                <string>{-42,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,97},{107,175}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{191,107}}</string>
                <key>offset</key>
                <string>{-5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,168},{191,107}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,192},{191,71}}</string>
                <key>offset</key>
                <string>{3,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,208},{191,71}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,137},{193,53}}</string>
                <key>offset</key>
                <string>{-11,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,220},{193,53}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,49}}</string>
                <key>offset</key>
                <string>{-8,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,226},{199,49}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10513_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{248,909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ecd4dac3c8a8e911bda7b64f4df277a$</string>
            <key>textureFileName</key>
            <string>10513_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
