<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10513_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,310},{109,195}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,74},{109,195}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{109,195}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,74},{109,195}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,113},{109,195}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{109,195}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{109,195}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,74},{109,195}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{109,195}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,74},{109,195}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10513_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,195}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{109,195}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10513_idle.pvr.ccz</string>
            <key>size</key>
            <string>{396,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:587e4c52b9bd1bd2d77309ca31204ebd$</string>
            <key>textureFileName</key>
            <string>10513_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
