<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10512_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,170},{102,170}}</string>
                <key>offset</key>
                <string>{-56,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{102,170}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,174}}</string>
                <key>offset</key>
                <string>{-70,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{132,174}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,86},{82,188}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,25},{82,188}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,170},{156,118}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,18},{156,118}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,342},{126,108}}</string>
                <key>offset</key>
                <string>{-33,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{126,108}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{148,120}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,84},{148,120}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,328},{114,132}}</string>
                <key>offset</key>
                <string>{-51,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,71},{114,132}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{182,100}}</string>
                <key>offset</key>
                <string>{-18,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,122},{182,100}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{188,82}}</string>
                <key>offset</key>
                <string>{-20,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,140},{188,82}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{196,60}}</string>
                <key>offset</key>
                <string>{-24,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,162},{196,60}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10512_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{476,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60d4faf3ac7ce1d1d705a5c4e231da48$</string>
            <key>textureFileName</key>
            <string>10512_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
