<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10520_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,198},{140,194}}</string>
                <key>offset</key>
                <string>{-100,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{140,194}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{140,194}}</string>
                <key>offset</key>
                <string>{-100,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{140,194}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,198},{140,192}}</string>
                <key>offset</key>
                <string>{-100,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{140,192}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{144,192}}</string>
                <key>offset</key>
                <string>{-99,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,48},{144,192}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,192}}</string>
                <key>offset</key>
                <string>{-100,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{144,192}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{142,194}}</string>
                <key>offset</key>
                <string>{-101,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{142,194}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10520_idle.pvr.ccz</string>
            <key>size</key>
            <string>{434,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b536f610aeea64871ac95dcc30db2292$</string>
            <key>textureFileName</key>
            <string>10520_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
