<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13004_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,198}}</string>
                <key>offset</key>
                <string>{-114,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,117},{214,198}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13004_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,200},{214,196}}</string>
                <key>offset</key>
                <string>{-115,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,119},{214,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13004_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{210,192}}</string>
                <key>offset</key>
                <string>{-115,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,122},{210,192}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13004_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,398},{206,190}}</string>
                <key>offset</key>
                <string>{-114,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,122},{206,190}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13004_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{210,192}}</string>
                <key>offset</key>
                <string>{-115,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,122},{210,192}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13004_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,196}}</string>
                <key>offset</key>
                <string>{-115,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,119},{214,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13004_move.pvr.ccz</string>
            <key>size</key>
            <string>{434,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70378327ff597ff5bdd67ee6177b026f$</string>
            <key>textureFileName</key>
            <string>13004_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
