<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13002_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{220,106}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,175},{220,106}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13002_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{226,110}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,174},{226,110}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13002_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{240,112}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,178},{240,112}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13002_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,220},{246,112}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,185},{246,112}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13002_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,334},{248,114}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,186},{248,114}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13002_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,108},{246,110}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,187},{246,110}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13002_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{240,104}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,186},{240,104}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13002_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,104}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,180},{226,104}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13002_idle.pvr.ccz</string>
            <key>size</key>
            <string>{494,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aecc60b6b790b14cd47080ccadf9eb7f$</string>
            <key>textureFileName</key>
            <string>13002_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
