<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13003_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,354},{176,176}}</string>
                <key>offset</key>
                <string>{-101,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,133},{176,176}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13003_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{180,176}}</string>
                <key>offset</key>
                <string>{-101,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,132},{180,176}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13003_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,172}}</string>
                <key>offset</key>
                <string>{-100,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,133},{186,172}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13003_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{188,170}}</string>
                <key>offset</key>
                <string>{-99,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,133},{188,170}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13003_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,172}}</string>
                <key>offset</key>
                <string>{-100,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,133},{186,172}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>13003_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,176},{180,176}}</string>
                <key>offset</key>
                <string>{-101,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,132},{180,176}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13003_move.pvr.ccz</string>
            <key>size</key>
            <string>{378,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80813215b83e3537004822e28428fa67$</string>
            <key>textureFileName</key>
            <string>13003_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
