<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50001_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{136,98}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,53},{136,98}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>50001_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{136,100}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,49},{136,100}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>50001_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,100}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,49},{138,100}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>50001_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{138,98}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{138,98}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>50001_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{140,100}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50001_idle.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7ed7257c192d7a9b78a0e5228de71c2$</string>
            <key>textureFileName</key>
            <string>50001_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
