<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50012_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{285,217}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,50},{285,217}}</string>
                <key>sourceSize</key>
                <string>{375,315}</string>
            </dict>
            <key>50012_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,181}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,89},{289,181}}</string>
                <key>sourceSize</key>
                <string>{375,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50012.pvr.ccz</string>
            <key>size</key>
            <string>{512,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ff92dcf81b925ef035c986ab28ddb1$</string>
            <key>textureFileName</key>
            <string>50012.pvr.ccz</string>
        </dict>
    </dict>
</plist>
