<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50026_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,550},{284,284}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{284,284}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>50026_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{264,272}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,23},{264,272}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>50026_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,268},{280,286}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,26},{280,286}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>50026_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,470},{284,284}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,7},{284,284}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>50026_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{415,199}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{415,199}}</string>
                <key>sourceSize</key>
                <string>{449,265}</string>
            </dict>
            <key>50026_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,229},{351,239}}</string>
                <key>offset</key>
                <string>{45,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,7},{351,239}}</string>
                <key>sourceSize</key>
                <string>{449,265}</string>
            </dict>
            <key>50026_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{351,239}}</string>
                <key>offset</key>
                <string>{45,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,10},{351,239}}</string>
                <key>sourceSize</key>
                <string>{449,265}</string>
            </dict>
            <key>50026_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{351,241}}</string>
                <key>offset</key>
                <string>{45,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,9},{351,241}}</string>
                <key>sourceSize</key>
                <string>{449,265}</string>
            </dict>
            <key>50026_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{299,225}}</string>
                <key>offset</key>
                <string>{72,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,8},{299,225}}</string>
                <key>sourceSize</key>
                <string>{449,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50026.pvr.ccz</string>
            <key>size</key>
            <string>{996,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5b21537c3f2cfdb762e9bcf235889e7$</string>
            <key>textureFileName</key>
            <string>50026.pvr.ccz</string>
        </dict>
    </dict>
</plist>
