<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50021_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,201}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,8},{258,201}}</string>
                <key>sourceSize</key>
                <string>{334,241}</string>
            </dict>
            <key>50021_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,149},{194,189}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,31},{194,189}}</string>
                <key>sourceSize</key>
                <string>{334,241}</string>
            </dict>
            <key>50021_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{204,145}}</string>
                <key>offset</key>
                <string>{-40,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,72},{204,145}}</string>
                <key>sourceSize</key>
                <string>{334,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50021.pvr.ccz</string>
            <key>size</key>
            <string>{468,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a82069d025c26ff1056ccb6b64ece1a$</string>
            <key>textureFileName</key>
            <string>50021.pvr.ccz</string>
        </dict>
    </dict>
</plist>
