<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50035_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,326},{444,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{444,188}}</string>
                <key>sourceSize</key>
                <string>{508,208}</string>
            </dict>
            <key>50035_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{420,180}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{420,180}}</string>
                <key>sourceSize</key>
                <string>{508,208}</string>
            </dict>
            <key>50035_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,184},{456,140}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{456,140}}</string>
                <key>sourceSize</key>
                <string>{508,208}</string>
            </dict>
            <key>50035_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,186}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{456,186}}</string>
                <key>sourceSize</key>
                <string>{508,208}</string>
            </dict>
            <key>50035_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{456,180}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{456,180}}</string>
                <key>sourceSize</key>
                <string>{508,208}</string>
            </dict>
            <key>50035_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,326},{136,124}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,50},{136,124}}</string>
                <key>sourceSize</key>
                <string>{508,208}</string>
            </dict>
            <key>50035_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,464},{124,112}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,50},{124,112}}</string>
                <key>sourceSize</key>
                <string>{508,208}</string>
            </dict>
            <key>50035_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{97,110}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,199},{97,110}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
            <key>50035_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,578},{169,176}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,134},{169,176}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
            <key>50035_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,516},{393,260}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{393,260}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
            <key>50035_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{447,324}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{447,324}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
            <key>50035_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,778},{361,312}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{361,312}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
            <key>50035_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{363,310}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,3},{363,310}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
            <key>50035_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{319,310}}</string>
                <key>offset</key>
                <string>{52,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,3},{319,310}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
            <key>50035_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,862},{269,310}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,3},{269,310}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
            <key>50035_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,749},{111,132}}</string>
                <key>offset</key>
                <string>{97,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,126},{111,132}}</string>
                <key>sourceSize</key>
                <string>{465,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50035.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cd5212393fdf9b91b1cdda034efe2cc$</string>
            <key>textureFileName</key>
            <string>50035.pvr.ccz</string>
        </dict>
    </dict>
</plist>
