<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50044_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{183,77}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,78},{183,77}}</string>
                <key>sourceSize</key>
                <string>{349,189}</string>
            </dict>
            <key>50044_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{317,121}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,37},{317,121}}</string>
                <key>sourceSize</key>
                <string>{349,189}</string>
            </dict>
            <key>50044_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{301,131}}</string>
                <key>offset</key>
                <string>{21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{301,131}}</string>
                <key>sourceSize</key>
                <string>{349,189}</string>
            </dict>
            <key>50044_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,181},{221,139}}</string>
                <key>offset</key>
                <string>{64,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,19},{221,139}}</string>
                <key>sourceSize</key>
                <string>{349,189}</string>
            </dict>
            <key>50044_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{177,125}}</string>
                <key>offset</key>
                <string>{86,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,20},{177,125}}</string>
                <key>sourceSize</key>
                <string>{349,189}</string>
            </dict>
            <key>50044_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{123,91}}</string>
                <key>offset</key>
                <string>{113,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,20},{123,91}}</string>
                <key>sourceSize</key>
                <string>{349,189}</string>
            </dict>
            <key>50044_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,27}}</string>
                <key>offset</key>
                <string>{106,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,55},{31,27}}</string>
                <key>sourceSize</key>
                <string>{349,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50044.pvr.ccz</string>
            <key>size</key>
            <string>{472,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaec190bbebfc8b1d600aad87a86980a$</string>
            <key>textureFileName</key>
            <string>50044.pvr.ccz</string>
        </dict>
    </dict>
</plist>
