<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50306_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{151,134}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{151,134}}</string>
                <key>sourceSize</key>
                <string>{207,166}</string>
            </dict>
            <key>50306_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,132}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{169,132}}</string>
                <key>sourceSize</key>
                <string>{207,166}</string>
            </dict>
            <key>50306_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{155,154}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{155,154}}</string>
                <key>sourceSize</key>
                <string>{207,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50306_1.pvr.ccz</string>
            <key>size</key>
            <string>{173,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c915f6f53b056c2aa661daab73eb36e$</string>
            <key>textureFileName</key>
            <string>50306_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
