<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50306_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{282,127}}</string>
                <key>sourceSize</key>
                <string>{324,177}</string>
            </dict>
            <key>50306_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{278,127}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{278,127}}</string>
                <key>sourceSize</key>
                <string>{324,177}</string>
            </dict>
            <key>50306_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{262,129}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{262,129}}</string>
                <key>sourceSize</key>
                <string>{324,177}</string>
            </dict>
            <key>50306_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{262,129}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{262,129}}</string>
                <key>sourceSize</key>
                <string>{324,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50306_0.pvr.ccz</string>
            <key>size</key>
            <string>{417,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a50600d048c1f4b1ecd0bd792dc541a$</string>
            <key>textureFileName</key>
            <string>50306_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
