<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50309_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,253},{186,99}}</string>
                <key>offset</key>
                <string>{40,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,171},{186,99}}</string>
                <key>sourceSize</key>
                <string>{388,299}</string>
            </dict>
            <key>50309_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{216,191}}</string>
                <key>offset</key>
                <string>{55,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,79},{216,191}}</string>
                <key>sourceSize</key>
                <string>{388,299}</string>
            </dict>
            <key>50309_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,249}}</string>
                <key>offset</key>
                <string>{72,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,21},{244,249}}</string>
                <key>sourceSize</key>
                <string>{388,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50309_1.pvr.ccz</string>
            <key>size</key>
            <string>{296,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50c9f7de5dfff68d4796f8496c651207$</string>
            <key>textureFileName</key>
            <string>50309_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
