<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50303_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,143}}</string>
                <key>offset</key>
                <string>{-7,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,246},{160,143}}</string>
                <key>sourceSize</key>
                <string>{414,431}</string>
            </dict>
            <key>50303_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{306,191}}</string>
                <key>offset</key>
                <string>{9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,198},{306,191}}</string>
                <key>sourceSize</key>
                <string>{414,431}</string>
            </dict>
            <key>50303_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{328,205}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,180},{328,205}}</string>
                <key>sourceSize</key>
                <string>{414,431}</string>
            </dict>
            <key>50303_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{326,217}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,174},{326,217}}</string>
                <key>sourceSize</key>
                <string>{414,431}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50303_0.pvr.ccz</string>
            <key>size</key>
            <string>{472,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:067c6b9cf39bd5adca9c61660947b5d3$</string>
            <key>textureFileName</key>
            <string>50303_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
