<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50311_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,91}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,33},{98,91}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>50311_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{142,105}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{142,105}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>50311_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{160,117}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,21},{160,117}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>50311_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,109},{160,119}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{160,119}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>50311_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{156,121}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{156,121}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>50311_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{94,121}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,18},{94,121}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50311_1.pvr.ccz</string>
            <key>size</key>
            <string>{492,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861a1e90a8f9d9e05b760df624a9d644$</string>
            <key>textureFileName</key>
            <string>50311_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
