<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50310_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,124}}</string>
                <key>offset</key>
                <string>{27,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,156},{306,124}}</string>
                <key>sourceSize</key>
                <string>{406,290}</string>
            </dict>
            <key>50310_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{258,128}}</string>
                <key>offset</key>
                <string>{45,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,154},{258,128}}</string>
                <key>sourceSize</key>
                <string>{406,290}</string>
            </dict>
            <key>50310_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{286,126}}</string>
                <key>offset</key>
                <string>{33,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,156},{286,126}}</string>
                <key>sourceSize</key>
                <string>{406,290}</string>
            </dict>
            <key>50310_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{292,122}}</string>
                <key>offset</key>
                <string>{30,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,157},{292,122}}</string>
                <key>sourceSize</key>
                <string>{406,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50310_2.pvr.ccz</string>
            <key>size</key>
            <string>{310,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57e0dbc5d67269170fb0a944f8181dac$</string>
            <key>textureFileName</key>
            <string>50310_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
