<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50322_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{206,140}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{206,140}}</string>
                <key>sourceSize</key>
                <string>{266,166}</string>
            </dict>
            <key>50322_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,124}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{230,124}}</string>
                <key>sourceSize</key>
                <string>{266,166}</string>
            </dict>
            <key>50322_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{230,108}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{230,108}}</string>
                <key>sourceSize</key>
                <string>{266,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50322_0.pvr.ccz</string>
            <key>size</key>
            <string>{234,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8df833a95fe3bdcfb26ab623d4a7fac$</string>
            <key>textureFileName</key>
            <string>50322_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
