<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{108,61}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{116,61}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{128,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,315},{100,61}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{100,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{98,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,65},{116,61}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{116,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{106,61}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{106,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{116,61}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{116,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,128},{114,61}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,191},{106,61}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{106,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effects_button_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,254},{106,59}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{106,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_button.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da35174c806355f31407ba9f97d86f73$</string>
            <key>textureFileName</key>
            <string>effects_button.pvr.ccz</string>
        </dict>
    </dict>
</plist>
