<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_guide3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,178},{38,42}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>effects_guide3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{74,42}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>effects_guide3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{90,42}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{90,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>effects_guide3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,42}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>effects_guide3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,42}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>effects_guide3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{52,42}}</string>
                <key>offset</key>
                <string>{62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>effects_guide3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,134},{16,42}}</string>
                <key>offset</key>
                <string>{80,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{16,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_guide3.pvr.ccz</string>
            <key>size</key>
            <string>{96,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9aab645e519c2f75dd7c0f0c5109994$</string>
            <key>textureFileName</key>
            <string>effects_guide3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
