<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_draw_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,896},{144,126}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,66},{144,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effects_draw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,682},{212,180}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,36},{212,180}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effects_draw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{214,180}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{214,180}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effects_draw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,250},{216,176}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{216,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effects_draw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,492},{222,188}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{222,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effects_draw_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{228,194}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{228,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effects_draw_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{228,204}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{228,204}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effects_draw_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{240,208}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{240,208}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effects_draw_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,210}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_draw.pvr.ccz</string>
            <key>size</key>
            <string>{432,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fc44c2c89cf97906207613918f74b20$</string>
            <key>textureFileName</key>
            <string>effects_draw.pvr.ccz</string>
        </dict>
    </dict>
</plist>
