<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,437},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,449},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,437},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,419},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,116},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,116},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,231},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,253},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,967},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,947},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,28},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>battle_cirt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,269},{24,24}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,974},{14,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{14,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,343},{22,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,393},{22,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,231},{26,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{26,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,423},{24,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,367},{22,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,319},{22,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,341},{24,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_cirt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,944},{22,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_countdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,269},{70,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{70,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,139},{42,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{42,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,269},{72,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{72,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,253},{70,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{70,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,137},{68,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{68,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,183},{72,84}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{72,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,65},{72,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{72,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,339},{70,82}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{70,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,65},{70,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{70,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,873},{72,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{72,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battle_countdown_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{238,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{238,87}}</string>
                <key>sourceSize</key>
                <string>{246,93}</string>
            </dict>
            <key>battle_hits_hits.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,842},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,20}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>battle_hits_hits_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,747},{258,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{258,58}}</string>
                <key>sourceSize</key>
                <string>{258,70}</string>
            </dict>
            <key>battle_hits_number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,353},{44,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,896},{22,46}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{22,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,183},{42,46}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,981},{40,46}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{40,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,24},{50,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{50,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,423},{44,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,389},{44,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,353},{44,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,341},{44,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hits_number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,137},{44,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hosting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,207},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,317},{22,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,993},{12,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{12,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,399},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,393},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,295},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,293},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,369},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,72},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,269},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,987},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_maohao.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,990},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>battle_mini_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1007},{130,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,6}}</string>
                <key>sourceSize</key>
                <string>{130,6}</string>
            </dict>
            <key>battle_mini_hp_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,842},{130,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,6}}</string>
                <key>sourceSize</key>
                <string>{130,6}</string>
            </dict>
            <key>battle_player_hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>battle_player_hp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,94},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>battle_player_hp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,94},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>battle_player_hp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>battle_player_hp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,28},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>battle_player_hp6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,999},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>battle_player_hp7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,999},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>battle_player_hp_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{321,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,17}}</string>
                <key>sourceSize</key>
                <string>{321,17}</string>
            </dict>
            <key>battle_player_hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{339,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{339,29}}</string>
                <key>sourceSize</key>
                <string>{341,31}</string>
            </dict>
            <key>battle_player_hp_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{268,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,16}}</string>
                <key>sourceSize</key>
                <string>{268,16}</string>
            </dict>
            <key>battle_player_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1011},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>battle_player_sp_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,842},{149,11}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{149,11}}</string>
                <key>sourceSize</key>
                <string>{157,13}</string>
            </dict>
            <key>battle_player_sp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{171,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,20}}</string>
                <key>sourceSize</key>
                <string>{175,20}</string>
            </dict>
            <key>battle_role_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{413,93}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{413,93}}</string>
                <key>sourceSize</key>
                <string>{417,111}</string>
            </dict>
            <key>battle_role_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{434,124}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,124}}</string>
                <key>sourceSize</key>
                <string>{450,124}</string>
            </dict>
            <key>battle_timer_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{88,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,61}}</string>
                <key>sourceSize</key>
                <string>{88,63}</string>
            </dict>
            <key>battle_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,970},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>battle_underframe_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>battle_word_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,201},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>battle_word_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{197,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,84}}</string>
                <key>sourceSize</key>
                <string>{197,84}</string>
            </dict>
            <key>battle_word_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{617,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{617,47}}</string>
                <key>sourceSize</key>
                <string>{621,47}</string>
            </dict>
            <key>battle_word_tg.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,28},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{46,24}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>battle_word_tgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>battle_×.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,116},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>joyStick_sp_shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,842},{170,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,27}}</string>
                <key>sourceSize</key>
                <string>{170,27}</string>
            </dict>
            <key>transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,990},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>General_battle.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b79310cf8ec298474c6eaecbd43664e$</string>
            <key>textureFileName</key>
            <string>General_battle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
