<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_hidden5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,102}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{100,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,102}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{100,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,102}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{100,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{102,102}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{102,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{102,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{102,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{100,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{100,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,106},{102,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{102,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,106},{100,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{100,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{100,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{100,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,208},{98,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{98,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,208},{98,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{98,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effects_hidden5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,208},{102,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{102,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_hidden_5.pvr.ccz</string>
            <key>size</key>
            <string>{414,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:509b9e573f89f94f0e953c06ce87d6bf$</string>
            <key>textureFileName</key>
            <string>effects_hidden_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
