<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50045_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,160},{206,163}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{206,163}}</string>
                <key>sourceSize</key>
                <string>{296,281}</string>
            </dict>
            <key>50045_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,325},{194,173}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,43},{194,173}}</string>
                <key>sourceSize</key>
                <string>{296,281}</string>
            </dict>
            <key>50045_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1052},{264,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{264,263}}</string>
                <key>sourceSize</key>
                <string>{296,281}</string>
            </dict>
            <key>50045_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1207},{152,149}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,66},{152,149}}</string>
                <key>sourceSize</key>
                <string>{296,281}</string>
            </dict>
            <key>50045_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1266},{134,149}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,63},{134,149}}</string>
                <key>sourceSize</key>
                <string>{296,281}</string>
            </dict>
            <key>50045_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1052},{156,153}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{156,153}}</string>
                <key>sourceSize</key>
                <string>{296,281}</string>
            </dict>
            <key>50045_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{284,284}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{284,284}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>50045_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,500},{264,272}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,23},{264,272}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>50045_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,984},{280,286}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,26},{280,286}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>50045_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{284,284}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,7},{284,284}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>50045_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{216,156}}</string>
                <key>offset</key>
                <string>{14,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,216},{216,156}}</string>
                <key>sourceSize</key>
                <string>{384,398}</string>
            </dict>
            <key>50045_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,774},{300,276}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,107},{300,276}}</string>
                <key>sourceSize</key>
                <string>{384,398}</string>
            </dict>
            <key>50045_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,682},{324,300}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,83},{324,300}}</string>
                <key>sourceSize</key>
                <string>{384,398}</string>
            </dict>
            <key>50045_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{350,322}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,61},{350,322}}</string>
                <key>sourceSize</key>
                <string>{384,398}</string>
            </dict>
            <key>50045_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,338},{368,342}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,41},{368,342}}</string>
                <key>sourceSize</key>
                <string>{384,398}</string>
            </dict>
            <key>50045_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{384,368}}</string>
                <key>sourceSize</key>
                <string>{384,398}</string>
            </dict>
            <key>50045_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{334,384}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{334,384}}</string>
                <key>sourceSize</key>
                <string>{384,398}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50045.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:441b3479991fc56b4032de226fa69c84$</string>
            <key>textureFileName</key>
            <string>50045.pvr.ccz</string>
        </dict>
    </dict>
</plist>
