<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10319_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,184}}</string>
                <key>offset</key>
                <string>{-22,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,84},{128,184}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{132,208}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,60},{132,208}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,190}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,78},{130,190}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{116,190}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,78},{116,190}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,212},{116,188}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,80},{116,188}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>10319_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,212},{118,184}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,84},{118,184}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10319_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{398,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:398ae8a14c426f415c7075b3cbae872f$</string>
            <key>textureFileName</key>
            <string>10319_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
