<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_logo_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,176},{262,155}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,15},{262,155}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,311},{276,161}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{276,161}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,158},{308,151}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{308,151}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{336,151}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{336,151}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,153},{342,149}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{342,149}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,311},{342,151}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{342,151}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,464},{336,155}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{336,155}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,589},{334,157}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{334,157}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{330,153}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{330,153}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{322,157}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{322,157}}</string>
                <key>sourceSize</key>
                <string>{350,213}</string>
            </dict>
            <key>effects_logo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{189,97}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{189,97}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,65},{207,91}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{207,91}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{189,61}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{189,61}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{209,61}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{209,61}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{195,61}}</string>
                <key>offset</key>
                <string>{24,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,12},{195,61}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{171,59}}</string>
                <key>offset</key>
                <string>{36,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,12},{171,59}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{129,59}}</string>
                <key>offset</key>
                <string>{57,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,12},{129,59}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{75,103}}</string>
                <key>offset</key>
                <string>{84,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,11},{75,103}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,79},{113,95}}</string>
                <key>offset</key>
                <string>{65,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,20},{113,95}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{119,73}}</string>
                <key>offset</key>
                <string>{54,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,42},{119,73}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,65},{127,79}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,36},{127,79}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,63},{123,75}}</string>
                <key>offset</key>
                <string>{-51,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{123,75}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>effects_logo_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{275,115}</string>
            </dict>
            <key>login_LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,65},{260,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{260,86}}</string>
                <key>sourceSize</key>
                <string>{260,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_logo.pvr.ccz</string>
            <key>size</key>
            <string>{1012,771}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eecadc5e5d6c173bd2ad1d7a3c053624$</string>
            <key>textureFileName</key>
            <string>effects_logo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
