<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10313_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{114,182}}</string>
                <key>offset</key>
                <string>{-35,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,55},{114,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,288},{116,174}}</string>
                <key>offset</key>
                <string>{-49,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,63},{116,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{102,178}}</string>
                <key>offset</key>
                <string>{-26,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,59},{102,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{146,178}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,41},{146,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,62},{188,76}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{188,76}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,62},{176,92}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,54},{176,92}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,240},{144,126}}</string>
                <key>offset</key>
                <string>{-18,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,128},{144,126}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{220,58}}</string>
                <key>offset</key>
                <string>{-9,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,193},{220,58}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{220,58}}</string>
                <key>offset</key>
                <string>{-9,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,185},{220,58}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,54}}</string>
                <key>offset</key>
                <string>{-9,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,191},{222,54}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10313_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{512,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec46141dc0d071067b94efc2f41a8fb$</string>
            <key>textureFileName</key>
            <string>10313_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
