<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10313_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,160}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,77},{120,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{158,160}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,70},{158,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{182,164}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,72},{182,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{126,160}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,77},{126,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,168},{158,154}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,74},{158,154}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10313_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,168},{182,174}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,62},{182,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10313_move.pvr.ccz</string>
            <key>size</key>
            <string>{474,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892565d33395b5e9be02b3a69a6fa39e$</string>
            <key>textureFileName</key>
            <string>10313_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
