<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10303_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,204}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,87},{132,204}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{136,276}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,16},{136,276}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,280},{184,140}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,151},{184,140}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{174,166}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,126},{174,166}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10303_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{148,186}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,107},{148,186}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10303_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{424,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a075f449b820f56940211bf02ce2a8f0$</string>
            <key>textureFileName</key>
            <string>10303_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
