<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_task_begin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{305,155}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{305,155}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{409,211}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{409,211}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{409,189}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{409,189}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,563},{241,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,62},{241,187}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,484},{243,201}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,46},{243,201}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,729},{245,79}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,104},{245,79}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{257,87}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,101},{257,87}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{257,97}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,96},{257,97}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,729},{251,115}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,83},{251,115}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
            <key>effects_task_begin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,261},{221,97}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{221,97}}</string>
                <key>sourceSize</key>
                <string>{459,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_task_begin.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bdb85c4f96f3eabd10c135060d5047b$</string>
            <key>textureFileName</key>
            <string>effects_task_begin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
