<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haowan123.kof.uc"
    android:versionCode="1"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.haowan123.kof.uc.StartupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 以下该SdkWebActivity已不使用 -->
        <!-- <activity -->
        <!-- android:name="cn.uc.gamesdk.view.SdkWebActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:windowSoftInputMode="adjustResize" > -->
        <!-- </activity> -->


        <!-- 新版本需使用新的SdkActivity -->
        <activity
            android:name="cn.uc.gamesdk.SdkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="cn.uc.gamesdk.sdkweb" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity 
                  android:screenOrientation="sensorLandscape"
                  android:name="com.haowan123.kof.uc.GameBox"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation"
                  android:windowSoftInputMode="adjustPan" android:icon="@drawable/icon">
            
        </activity>
    </application>

</manifest>