<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10512_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{100,198}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,11},{100,198}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{80,196}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,13},{80,196}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,202}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,8},{62,202}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{100,198}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,12},{100,198}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{82,192}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,14},{82,192}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
            <key>10512_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{66,198}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,9},{66,198}}</string>
                <key>sourceSize</key>
                <string>{294,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10512_move.pvr.ccz</string>
            <key>size</key>
            <string>{206,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b372c2b47b1421b0d38a2ddd74ca779$</string>
            <key>textureFileName</key>
            <string>10512_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
