<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50327_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,269},{241,91}}</string>
                <key>offset</key>
                <string>{-44,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,100},{241,91}}</string>
                <key>sourceSize</key>
                <string>{363,205}</string>
            </dict>
            <key>50327_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,269},{263,127}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{263,127}}</string>
                <key>sourceSize</key>
                <string>{363,205}</string>
            </dict>
            <key>50327_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{263,135}}</string>
                <key>offset</key>
                <string>{-44,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{263,135}}</string>
                <key>sourceSize</key>
                <string>{363,205}</string>
            </dict>
            <key>50327_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{265,143}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{265,143}}</string>
                <key>sourceSize</key>
                <string>{363,205}</string>
            </dict>
            <key>50327_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,149}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{273,149}}</string>
                <key>sourceSize</key>
                <string>{363,205}</string>
            </dict>
            <key>50327_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{253,119}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{253,119}}</string>
                <key>sourceSize</key>
                <string>{363,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50327_0.pvr.ccz</string>
            <key>size</key>
            <string>{489,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34d9df80ff51a808c33280f2dfaa2775$</string>
            <key>textureFileName</key>
            <string>50327_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
