<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,578}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{264,578}}</string>
                <key>sourceSize</key>
                <string>{298,640}</string>
            </dict>
            <key>role_body_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{298,536}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{298,536}}</string>
                <key>sourceSize</key>
                <string>{298,640}</string>
            </dict>
            <key>role_body_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{252,556}}</string>
                <key>offset</key>
                <string>{23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{252,556}}</string>
                <key>sourceSize</key>
                <string>{298,640}</string>
            </dict>
            <key>role_body_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{298,564}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{298,564}}</string>
                <key>sourceSize</key>
                <string>{298,640}</string>
            </dict>
            <key>role_head_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{822,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{922,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{822,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_10401.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_10402.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{502,882},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_10403.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{402,882},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_10404.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{302,882},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_10408.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{202,882},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_10409.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{102,882},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>role_head_10411.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeadIconResources.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:329db62c41799e9f3822540b63a3ddd4$</string>
            <key>textureFileName</key>
            <string>HeadIconResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
