<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50317_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,588},{288,286}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{288,286}}</string>
                <key>sourceSize</key>
                <string>{426,362}</string>
            </dict>
            <key>50317_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{312,288}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,38},{312,288}}</string>
                <key>sourceSize</key>
                <string>{426,362}</string>
            </dict>
            <key>50317_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{304,286}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,38},{304,286}}</string>
                <key>sourceSize</key>
                <string>{426,362}</string>
            </dict>
            <key>50317_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,308},{304,294}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{304,294}}</string>
                <key>sourceSize</key>
                <string>{426,362}</string>
            </dict>
            <key>50317_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,292},{304,294}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,33},{304,294}}</string>
                <key>sourceSize</key>
                <string>{426,362}</string>
            </dict>
            <key>50317_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{314,304}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,31},{314,304}}</string>
                <key>sourceSize</key>
                <string>{426,362}</string>
            </dict>
            <key>50317_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,322}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{334,322}}</string>
                <key>sourceSize</key>
                <string>{426,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50317_0.pvr.ccz</string>
            <key>size</key>
            <string>{968,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e454e99b6d45d4b8ab9eaf292295011a$</string>
            <key>textureFileName</key>
            <string>50317_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
