<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>joyStick_cd_shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,259},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>joyStick_click_shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{173,171}</string>
            </dict>
            <key>joyStick_common_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>joyStick_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,175},{83,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,82}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keyBoardResources.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:179b4968e25a95cd4fd7930b2d2ff639$</string>
            <key>textureFileName</key>
            <string>keyBoardResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
