<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10336_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,218},{118,182}}</string>
                <key>offset</key>
                <string>{-27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,56},{118,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{114,192}}</string>
                <key>offset</key>
                <string>{-67,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,46},{114,192}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{170,188}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,47},{170,188}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,70},{206,112}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,89},{206,112}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,402},{166,108}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,68},{166,108}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,184},{136,162}}</string>
                <key>offset</key>
                <string>{-37,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,79},{136,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,322},{174,122}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,121},{174,122}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{222,66}}</string>
                <key>offset</key>
                <string>{1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,177},{222,66}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{222,48}}</string>
                <key>offset</key>
                <string>{-6,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,194},{222,48}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,48}}</string>
                <key>offset</key>
                <string>{-4,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,195},{224,48}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10336_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{506,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55112d994fc8b7ef8c30c8cb3be660f5$</string>
            <key>textureFileName</key>
            <string>10336_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
