<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>friend_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>friend_information.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>friend_seek.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FriendListViewResources.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8de37dfa5c89ef8ed319f0a3d0e0351a$</string>
            <key>textureFileName</key>
            <string>FriendListViewResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
