<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>compos_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,256},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>compos_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,241},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>equip_arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>equip_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,216},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>equip_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,236},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>equip_arrow_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,215},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>equip_exp_frame_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,27}}</string>
                <key>sourceSize</key>
                <string>{244,27}</string>
            </dict>
            <key>equip_strengthen_dqzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>equip_strengthen_qhh.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,215},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>equip_strengthen_sjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{105,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,65}}</string>
                <key>sourceSize</key>
                <string>{105,65}</string>
            </dict>
            <key>equip_strengthen_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,31},{312,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{312,53}}</string>
                <key>sourceSize</key>
                <string>{340,59}</string>
            </dict>
            <key>equip_underframe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,123},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>equip_underframe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>equip_underframe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,31},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>therole_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,233},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipSystemResource.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:252d7d6eea2fded11fd89a8bb2cda35d$</string>
            <key>textureFileName</key>
            <string>equipSystemResource.pvr.ccz</string>
        </dict>
    </dict>
</plist>
