<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10332_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{96,202}}</string>
                <key>offset</key>
                <string>{32,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,87},{96,202}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{98,202}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,87},{98,202}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,206},{98,202}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,87},{98,202}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{100,202}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,87},{100,202}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,202}}</string>
                <key>offset</key>
                <string>{37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,87},{104,202}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{102,202}}</string>
                <key>offset</key>
                <string>{36,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,87},{102,202}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{98,202}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,87},{98,202}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10332_idle.pvr.ccz</string>
            <key>size</key>
            <string>{310,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3ea024f8dcb8040f49d828c71dc3b64$</string>
            <key>textureFileName</key>
            <string>10332_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
