<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hidden_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,720},{54,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{56,81}</string>
            </dict>
            <key>hidden_arrow_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,901},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>hidden_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,933},{54,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{56,81}</string>
            </dict>
            <key>hidden_dot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,124},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hidden_dot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1003},{8,8}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{8,8}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hidden_dot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1003},{10,10}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{10,10}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hidden_dot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,92},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hidden_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,33},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hidden_hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,781},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hidden_pagination_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,942},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>hidden_props_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,384}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{350,384}}</string>
                <key>sourceSize</key>
                <string>{350,430}</string>
            </dict>
            <key>hidden_treasure_underframe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{232,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,231}}</string>
                <key>sourceSize</key>
                <string>{232,231}</string>
            </dict>
            <key>hidden_underframe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,424},{195,187}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{195,187}}</string>
                <key>sourceSize</key>
                <string>{199,187}</string>
            </dict>
            <key>hidden_underframe1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,942},{120,80}}</string>
                <key>offset</key>
                <string>{-28,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{120,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hidden_underframe1_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,811},{82,120}}</string>
                <key>offset</key>
                <string>{49,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,67},{82,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hidden_underframe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,239},{191,187}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,187}}</string>
                <key>sourceSize</key>
                <string>{199,187}</string>
            </dict>
            <key>hidden_underframe2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,942},{80,120}}</string>
                <key>offset</key>
                <string>{-49,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,68},{80,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hidden_underframe2_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,613},{120,82}}</string>
                <key>offset</key>
                <string>{27,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{120,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hidden_underframe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,428},{195,185}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,185}}</string>
                <key>sourceSize</key>
                <string>{199,187}</string>
            </dict>
            <key>hidden_underframe3_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{120,80}}</string>
                <key>offset</key>
                <string>{28,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,108},{120,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hidden_underframe3_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,697},{82,120}}</string>
                <key>offset</key>
                <string>{-50,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{82,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hidden_underframe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,235},{195,187}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,187}}</string>
                <key>sourceSize</key>
                <string>{199,187}</string>
            </dict>
            <key>hidden_underframe4_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,942},{80,120}}</string>
                <key>offset</key>
                <string>{48,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,12},{80,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hidden_underframe4_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,155},{120,82}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,108},{120,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hidden_underframe_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,665},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>hidden_underframe_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,388},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>hidden_underframe_new3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>hidden_underframe_new4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>hidden_underframe_new5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{272,274}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{272,274}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hidden_word_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,613},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,599},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,492},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,385},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,278},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,278},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,278},{105,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,278},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,706},{103,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,942},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hidden_word_sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,33},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>hidden_word_zbgsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{126,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,29}}</string>
                <key>sourceSize</key>
                <string>{126,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TreasureHouseResource.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b25e4c17840ab3b8b394691a868ddd4b$</string>
            <key>textureFileName</key>
            <string>TreasureHouseResource.pvr.ccz</string>
        </dict>
    </dict>
</plist>
