<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10336_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,278},{174,128}}</string>
                <key>offset</key>
                <string>{-37,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,110},{174,128}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{194,120}}</string>
                <key>offset</key>
                <string>{-47,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,121},{194,120}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{134,208}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,30},{134,208}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,222}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,16},{130,222}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,124},{152,192}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,48},{152,192}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{208,170}}</string>
                <key>offset</key>
                <string>{25,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,72},{208,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,278},{188,164}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,76},{188,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10336_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{470,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a099124d46869a05e4b09f7be112739$</string>
            <key>textureFileName</key>
            <string>10336_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
