<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10336_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{136,146}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,92},{136,146}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{166,174}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,59},{166,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{162,160}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,81},{162,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,164},{178,138}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{178,138}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,158}}</string>
                <key>offset</key>
                <string>{-15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,80},{128,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10336_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{434,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c2ef85c148ef112801f998521823a4e$</string>
            <key>textureFileName</key>
            <string>10336_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
