<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_hcr1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{36,66}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{36,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{40,60}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{40,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{48,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{48,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,126},{42,62}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{42,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,64},{46,60}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{46,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{48,64}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{48,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{36,64}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{36,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{40,64}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{40,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effects_hcr1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,64}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{34,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_hcr1.pvr.ccz</string>
            <key>size</key>
            <string>{118,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa92ee852b7d60fd1d2395243f47b14$</string>
            <key>textureFileName</key>
            <string>effects_hcr1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
