<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10003_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{100,154}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,62},{100,154}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{134,144}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{134,144}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{124,154}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,58},{124,154}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,158},{90,152}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,64},{90,152}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,142}}</string>
                <key>offset</key>
                <string>{-28,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,61},{142,142}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
            <key>10003_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,312},{124,150}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,60},{124,150}}</string>
                <key>sourceSize</key>
                <string>{290,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10003_move.pvr.ccz</string>
            <key>size</key>
            <string>{254,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8581fdc1edace2a96a8e40ac8f12f1b$</string>
            <key>textureFileName</key>
            <string>10003_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
