<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10325_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,150}}</string>
                <key>offset</key>
                <string>{-40,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,80},{182,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{162,150}}</string>
                <key>offset</key>
                <string>{-31,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,81},{162,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{168,132}}</string>
                <key>offset</key>
                <string>{-34,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,81},{168,132}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,154},{180,148}}</string>
                <key>offset</key>
                <string>{-40,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,79},{180,148}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{174,146}}</string>
                <key>offset</key>
                <string>{-37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,82},{174,146}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,304},{174,136}}</string>
                <key>offset</key>
                <string>{-36,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,81},{174,136}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10325_move.pvr.ccz</string>
            <key>size</key>
            <string>{354,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7175329d10bce990928094555bd4e7c$</string>
            <key>textureFileName</key>
            <string>10325_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
