<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10325_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,224},{122,184}}</string>
                <key>offset</key>
                <string>{-26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,56},{122,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{186,220}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,17},{186,220}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,216}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,19},{198,216}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{194,214}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,18},{194,214}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,224},{132,192}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,39},{132,192}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{120,176}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,55},{120,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10325_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{512,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:319dc5fbd7481e6aa498f96c1eb05b35$</string>
            <key>textureFileName</key>
            <string>10325_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
