<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10325_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{118,164}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,68},{118,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,180},{124,134}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,107},{124,134}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{156,150}}</string>
                <key>offset</key>
                <string>{-11,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,95},{156,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,196}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,50},{140,196}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{122,176}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,58},{122,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10325_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{280,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35a35ce35141ff82a26b29348f5581bc$</string>
            <key>textureFileName</key>
            <string>10325_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
