<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10325_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{104,172}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,59},{104,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{104,172}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,59},{104,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,172}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,59},{104,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{104,174}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,59},{104,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,176},{104,176}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,58},{104,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10325_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{104,174}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,58},{104,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10325_idle.pvr.ccz</string>
            <key>size</key>
            <string>{456,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5bfd7cf1799fd2abf2d051a7dff48c7$</string>
            <key>textureFileName</key>
            <string>10325_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
