<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10327_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{104,188}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,44},{104,188}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,188},{112,188}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{112,188}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{118,184}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,51},{118,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,170}}</string>
                <key>offset</key>
                <string>{36,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,65},{186,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{126,182}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,50},{126,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{98,202}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,32},{98,202}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,188},{138,190}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,42},{138,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,386},{114,232}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{114,232}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,386},{108,212}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,20},{108,212}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10327_skill_112_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,188},{108,196}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,36},{108,196}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10327_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{472,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef2afd3b09dcc52c691f02fe00c8517c$</string>
            <key>textureFileName</key>
            <string>10327_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
