<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10329_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{128,192}}</string>
                <key>offset</key>
                <string>{-43,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,42},{128,192}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10329_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{142,178}}</string>
                <key>offset</key>
                <string>{-46,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{142,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10329_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{148,180}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,53},{148,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10329_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,308},{104,166}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,69},{104,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10329_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,178},{106,174}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,60},{106,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10329_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,176}}</string>
                <key>offset</key>
                <string>{-24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{182,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10329_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{130,174}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,60},{130,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10329_skill_111_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,182},{124,184}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,50},{124,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10329_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{462,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f4839e7a4f0e3a7cdd9bcea70befbba$</string>
            <key>textureFileName</key>
            <string>10329_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
