<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10324_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{80,200}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,41},{80,200}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{90,190}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,51},{90,190}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,150},{120,182}}</string>
                <key>offset</key>
                <string>{40,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,51},{120,182}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,150},{172,124}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,70},{172,124}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{172,120}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,54},{172,120}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,272},{136,160}}</string>
                <key>offset</key>
                <string>{-36,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,85},{136,160}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,66},{208,82}}</string>
                <key>offset</key>
                <string>{-22,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,163},{208,82}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{178,60}}</string>
                <key>offset</key>
                <string>{-22,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,191},{178,60}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{158,62}}</string>
                <key>offset</key>
                <string>{-27,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,185},{158,62}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>10324_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,58}}</string>
                <key>offset</key>
                <string>{-25,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,189},{152,58}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10324_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{504,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:332be89db2b389c600a34cc52b3a4118$</string>
            <key>textureFileName</key>
            <string>10324_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
