<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10331_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{128,170}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,65},{128,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,174},{144,164}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{144,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,172},{142,174}}</string>
                <key>offset</key>
                <string>{-44,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,62},{142,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{150,178}}</string>
                <key>offset</key>
                <string>{-33,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,56},{150,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,166}}</string>
                <key>offset</key>
                <string>{-8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,70},{198,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10331_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{168,178}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,57},{168,178}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10331_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{512,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0786000365929e8097df77361a58a4ad$</string>
            <key>textureFileName</key>
            <string>10331_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
