<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10336_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,148}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{232,148}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{198,128}}</string>
                <key>offset</key>
                <string>{-16,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,104},{198,128}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{194,136}}</string>
                <key>offset</key>
                <string>{13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,98},{194,136}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,152},{230,148}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{230,148}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{206,134}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,105},{206,134}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10336_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,302},{190,142}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,99},{190,142}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10336_move.pvr.ccz</string>
            <key>size</key>
            <string>{436,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb2aa6a0061c81507e95e221e156d33b$</string>
            <key>textureFileName</key>
            <string>10336_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
