<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10339_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,274},{122,190}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{122,190}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{142,186}}</string>
                <key>offset</key>
                <string>{-34,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,92},{142,186}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,274},{140,168}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,90},{140,168}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,66},{170,88}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,105},{170,88}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{168,102}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,81},{168,102}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,158},{160,108}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{160,108}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,158},{156,114}}</string>
                <key>offset</key>
                <string>{-32,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,156},{156,114}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{206,90}}</string>
                <key>offset</key>
                <string>{-11,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,183},{206,90}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{208,58}}</string>
                <key>offset</key>
                <string>{-10,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,218},{208,58}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,62}}</string>
                <key>offset</key>
                <string>{-10,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,227},{210,62}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10339_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{492,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c983419474034096f9119c011ee17f6f$</string>
            <key>textureFileName</key>
            <string>10339_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
