<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10334_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,186}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,44},{104,186}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{122,184}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,47},{122,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{132,166}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,65},{132,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{150,166}}</string>
                <key>offset</key>
                <string>{19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,65},{150,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,190},{210,158}}</string>
                <key>offset</key>
                <string>{57,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,73},{210,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{116,180}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,52},{116,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10334_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{484,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f84aef70bc2ee083a312cd63e0823000$</string>
            <key>textureFileName</key>
            <string>10334_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
