<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10334_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,394},{100,172}}</string>
                <key>offset</key>
                <string>{-32,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,58},{100,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{116,168}}</string>
                <key>offset</key>
                <string>{-33,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,63},{116,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{148,190}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,45},{148,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,202},{150,168}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,37},{150,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{198,146}}</string>
                <key>offset</key>
                <string>{26,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,27},{198,146}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,354},{146,166}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,12},{146,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{120,128}}</string>
                <key>offset</key>
                <string>{-15,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,26},{120,128}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,170}}</string>
                <key>offset</key>
                <string>{27,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,30},{208,170}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,172},{98,162}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,27},{98,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_skill_112_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,202},{84,190}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,41},{84,190}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10334_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{508,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39e6648c6f8a677205eb9189b2be5137$</string>
            <key>textureFileName</key>
            <string>10334_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
