<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10332_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,198}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,95},{78,198}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{132,204}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,84},{132,204}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{96,218}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,60},{96,218}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,204},{188,200}}</string>
                <key>offset</key>
                <string>{37,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,77},{188,200}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{102,200}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,82},{102,200}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
            <key>10332_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,100},{102,202}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,81},{102,202}}</string>
                <key>sourceSize</key>
                <string>{374,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10332_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{422,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c06ab9450ab3bd9a84672b485f9b4b21$</string>
            <key>textureFileName</key>
            <string>10332_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
