<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10339_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,154}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,105},{186,154}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{118,158}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,114},{118,158}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{174,162}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,102},{174,162}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{182,154}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,108},{182,154}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,166},{118,162}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,113},{118,162}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,166},{176,164}}</string>
                <key>offset</key>
                <string>{-18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,103},{176,164}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10339_move.pvr.ccz</string>
            <key>size</key>
            <string>{486,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d0d2c95d6185c004136b3483a0c2608$</string>
            <key>textureFileName</key>
            <string>10339_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
