<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10334_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{180,160}}</string>
                <key>offset</key>
                <string>{-31,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{180,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,170},{114,160}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,68},{114,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{170,156}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{170,156}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,164},{178,158}}</string>
                <key>offset</key>
                <string>{-30,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{178,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{118,166}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,64},{118,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,162}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,59},{178,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10334_move.pvr.ccz</string>
            <key>size</key>
            <string>{484,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c23b99b9060bceae04091305860bcbd2$</string>
            <key>textureFileName</key>
            <string>10334_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
