<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10330_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,358},{130,168}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,61},{130,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{122,168}}</string>
                <key>offset</key>
                <string>{-28,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,61},{122,168}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,184}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,31},{146,184}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{192,136}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,62},{192,136}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,86},{204,74}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,76},{204,74}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,162},{194,138}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,37},{194,138}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,172},{144,130}}</string>
                <key>offset</key>
                <string>{-28,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{144,130}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{204,82}}</string>
                <key>offset</key>
                <string>{-16,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,145},{204,82}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,358},{184,96}}</string>
                <key>offset</key>
                <string>{-18,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,140},{184,96}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10330_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{212,62}}</string>
                <key>offset</key>
                <string>{-16,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,176},{212,62}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10330_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{496,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de9bd5e8fe7ffe95eba9974754b1a57e$</string>
            <key>textureFileName</key>
            <string>10330_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
