<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10337_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,184},{110,182}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,47},{110,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{158,176}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,41},{158,176}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{158,180}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,43},{158,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{106,180}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,49},{106,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,174}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,45},{152,174}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10337_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,184},{142,180}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,43},{142,180}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10337_move.pvr.ccz</string>
            <key>size</key>
            <string>{424,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:245bf8d356de5798fce4a2639d0c6dc8$</string>
            <key>textureFileName</key>
            <string>10337_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
