<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10334_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{120,150}}</string>
                <key>offset</key>
                <string>{-34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{120,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{142,148}}</string>
                <key>offset</key>
                <string>{-46,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,82},{142,148}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{142,200}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,37},{142,200}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{198,132}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,63},{198,132}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,136},{214,112}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{214,112}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,140}}</string>
                <key>offset</key>
                <string>{-12,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,91},{206,140}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{206,70}}</string>
                <key>offset</key>
                <string>{-9,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,162},{206,70}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,296},{186,84}}</string>
                <key>offset</key>
                <string>{-20,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,165},{186,84}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,352},{196,68}}</string>
                <key>offset</key>
                <string>{-16,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,173},{196,68}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10334_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,422},{210,62}}</string>
                <key>offset</key>
                <string>{-11,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,173},{210,62}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10334_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{482,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13c73506e285d8cbf0ef2531771e1c65$</string>
            <key>textureFileName</key>
            <string>10334_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
