<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10331_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,350},{104,136}}</string>
                <key>offset</key>
                <string>{12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,160},{104,136}}</string>
                <key>sourceSize</key>
                <string>{342,324}</string>
            </dict>
            <key>10331_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,350},{118,116}}</string>
                <key>offset</key>
                <string>{-16,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,181},{118,116}}</string>
                <key>sourceSize</key>
                <string>{342,324}</string>
            </dict>
            <key>10331_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{98,258}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,38},{98,258}}</string>
                <key>sourceSize</key>
                <string>{342,324}</string>
            </dict>
            <key>10331_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{234,140}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,75},{234,140}}</string>
                <key>sourceSize</key>
                <string>{342,324}</string>
            </dict>
            <key>10331_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,144},{260,94}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,90},{260,94}}</string>
                <key>sourceSize</key>
                <string>{342,324}</string>
            </dict>
            <key>10331_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,240},{224,108}}</string>
                <key>offset</key>
                <string>{22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{224,108}}</string>
                <key>sourceSize</key>
                <string>{342,324}</string>
            </dict>
            <key>10331_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,188}}</string>
                <key>offset</key>
                <string>{35,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,47},{190,188}}</string>
                <key>sourceSize</key>
                <string>{342,324}</string>
            </dict>
            <key>10331_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,240},{128,184}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,71},{128,184}}</string>
                <key>sourceSize</key>
                <string>{342,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10331_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{458,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72d262d082e249f94dcaac5f51f351e$</string>
            <key>textureFileName</key>
            <string>10331_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
