<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50328_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,77},{188,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>50328_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{186,58}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,73},{186,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>50328_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{164,60}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,72},{164,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50328_0.pvr.ccz</string>
            <key>size</key>
            <string>{254,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:630c457314a8468989be27e8cde8c85f$</string>
            <key>textureFileName</key>
            <string>50328_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
