<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50329_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,102}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,48},{132,102}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>50329_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{214,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{214,116}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>50329_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{142,124}}</string>
                <key>offset</key>
                <string>{-28,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{142,124}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>50329_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{132,136}}</string>
                <key>offset</key>
                <string>{-36,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{132,136}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>50329_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,120},{142,126}}</string>
                <key>offset</key>
                <string>{-36,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{142,126}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>50329_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,128},{138,128}}</string>
                <key>offset</key>
                <string>{-39,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{138,128}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50329_0.pvr.ccz</string>
            <key>size</key>
            <string>{496,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61141b5f8e632b57fdec707eeb5fa80b$</string>
            <key>textureFileName</key>
            <string>50329_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
