<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50337_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{177,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{177,91}}</string>
                <key>sourceSize</key>
                <string>{229,131}</string>
            </dict>
            <key>50337_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{177,91}}</string>
                <key>sourceSize</key>
                <string>{229,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50337_1.pvr.ccz</string>
            <key>size</key>
            <string>{181,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f283649dad45918d402bc57d09274a7d$</string>
            <key>textureFileName</key>
            <string>50337_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
