<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50331_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{174,172}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{174,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>50331_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{188,172}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{188,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>50331_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{172,172}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{172,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>50331_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,172}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{202,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>50331_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{172,172}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{172,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50331_0.pvr.ccz</string>
            <key>size</key>
            <string>{176,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23966ebb764625f9cd50163e6d77ce52$</string>
            <key>textureFileName</key>
            <string>50331_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
