<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,100},{248,104}}</string>
                <key>sourceSize</key>
                <string>{418,304}</string>
            </dict>
            <key>effect_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{246,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,91},{246,122}}</string>
                <key>sourceSize</key>
                <string>{418,304}</string>
            </dict>
            <key>effect_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{246,128}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,85},{246,128}}</string>
                <key>sourceSize</key>
                <string>{418,304}</string>
            </dict>
            <key>effect_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{242,130}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,85},{242,130}}</string>
                <key>sourceSize</key>
                <string>{418,304}</string>
            </dict>
            <key>effect_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,132},{242,130}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,85},{242,130}}</string>
                <key>sourceSize</key>
                <string>{418,304}</string>
            </dict>
            <key>effect_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{184,130}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,84},{184,130}}</string>
                <key>sourceSize</key>
                <string>{418,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1368818f69a2328bdb727e366f278f30$</string>
            <key>textureFileName</key>
            <string>effect_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
