<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50014_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,484},{254,70}}</string>
                <key>offset</key>
                <string>{-61,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,108},{254,70}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>50014_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,564},{346,206}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{346,206}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>50014_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,208}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{388,208}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>50014_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{392,196}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{392,196}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>50014_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,212},{350,170}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,46},{350,170}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>50014_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,740},{232,75}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{232,75}}</string>
                <key>sourceSize</key>
                <string>{370,127}</string>
            </dict>
            <key>50014_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{262,85}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{262,85}}</string>
                <key>sourceSize</key>
                <string>{370,127}</string>
            </dict>
            <key>50014_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{256,61}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,33},{256,61}}</string>
                <key>sourceSize</key>
                <string>{370,127}</string>
            </dict>
            <key>50014_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,266},{216,85}}</string>
                <key>offset</key>
                <string>{39,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,16},{216,85}}</string>
                <key>sourceSize</key>
                <string>{370,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50014.pvr.ccz</string>
            <key>size</key>
            <string>{485,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f8e29e1467e994ae50e2a53f2f8383b$</string>
            <key>textureFileName</key>
            <string>50014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
