<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50324_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{198,310}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,71},{198,310}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>50324_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,314}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,67},{200,314}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>50324_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{194,312}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,69},{194,312}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50324_0.pvr.ccz</string>
            <key>size</key>
            <string>{204,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1da0d37ee017294956798723b6ab4b7$</string>
            <key>textureFileName</key>
            <string>50324_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
