<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10004_skill_113_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,166}}</string>
                <key>offset</key>
                <string>{53,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,126},{228,166}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_113_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{206,186}}</string>
                <key>offset</key>
                <string>{52,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,106},{206,186}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_113_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,164},{128,210}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,95},{128,210}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_113_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{210,160}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{210,160}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_113_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,294},{130,156}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,59},{130,156}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_113_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,294},{148,136}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,61},{148,136}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_113_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{192,118}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,176},{192,118}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10004_skill_113.pvr.ccz</string>
            <key>size</key>
            <string>{472,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35398773512964d42dca328db75fda0b$</string>
            <key>textureFileName</key>
            <string>10004_skill_113.pvr.ccz</string>
        </dict>
    </dict>
</plist>
