<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10004_skill_101_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,168}}</string>
                <key>offset</key>
                <string>{20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,123},{162,168}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_101_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{146,174}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,119},{146,174}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_101_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{250,160}}</string>
                <key>offset</key>
                <string>{10,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,131},{250,160}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10004_skill_101.pvr.ccz</string>
            <key>size</key>
            <string>{342,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:653038bf7058c9aaa7849c32c8e8342a$</string>
            <key>textureFileName</key>
            <string>10004_skill_101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
