<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_openFun_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,178},{282,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,74}}</string>
                <key>sourceSize</key>
                <string>{282,74}</string>
            </dict>
            <key>guide_openFun_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,174}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{208,174}}</string>
                <key>sourceSize</key>
                <string>{210,190}</string>
            </dict>
            <key>guide_openFun_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{307,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,2}}</string>
                <key>sourceSize</key>
                <string>{307,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GuideOpenFunResources.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7be5346d1bd55c45930769b53d8b6692$</string>
            <key>textureFileName</key>
            <string>GuideOpenFunResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
