<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10312_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,152},{118,162}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,67},{118,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{118,148}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,81},{118,148}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{118,150}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,79},{118,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,146}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,83},{114,146}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10312_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{242,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c536fbe9b3f78fbc1b029ade17f716$</string>
            <key>textureFileName</key>
            <string>10312_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
