<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10312_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,164}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,67},{126,164}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{128,160}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,71},{128,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,328},{128,158}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,73},{128,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,164},{128,154}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,77},{128,154}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{130,158}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,73},{130,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{128,160}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,71},{128,160}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10312_idle.pvr.ccz</string>
            <key>size</key>
            <string>{264,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94933197b4207ed6ac4ccb02ba44c007$</string>
            <key>textureFileName</key>
            <string>10312_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
