<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10312_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{112,166}}</string>
                <key>offset</key>
                <string>{-31,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,64},{112,166}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,252},{150,150}}</string>
                <key>offset</key>
                <string>{-57,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,80},{150,150}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,262},{154,182}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,44},{154,182}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,68},{226,86}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,91},{226,86}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,156},{158,104}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,63},{158,104}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{144,90}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,74},{144,90}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,156},{194,94}}</string>
                <key>offset</key>
                <string>{-9,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,140},{194,94}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{212,78}}</string>
                <key>offset</key>
                <string>{-30,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,155},{212,78}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{220,64}}</string>
                <key>offset</key>
                <string>{-30,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,173},{220,64}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10312_hurt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,56}}</string>
                <key>offset</key>
                <string>{-26,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,178},{232,56}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10312_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{506,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:531170d8f44f73649b60c28bd4f7dc86$</string>
            <key>textureFileName</key>
            <string>10312_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
