<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10315_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{110,156}}</string>
                <key>offset</key>
                <string>{-35,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,75},{110,156}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,172}}</string>
                <key>offset</key>
                <string>{37,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,61},{160,172}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{54,198}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,37},{54,198}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{146,118}}</string>
                <key>offset</key>
                <string>{-61,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,116},{146,118}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,390},{98,116}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,114},{98,116}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,176},{94,130}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,106},{94,130}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10315_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{80,158}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,72},{80,158}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10315_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{250,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4530b4ba19df33d2536f3d2a00efe7eb$</string>
            <key>textureFileName</key>
            <string>10315_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
