<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10004_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{134,178}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,117},{134,178}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,138},{148,228}}</string>
                <key>offset</key>
                <string>{17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,74},{148,228}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{150,218}}</string>
                <key>offset</key>
                <string>{42,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,51},{150,218}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,200}}</string>
                <key>offset</key>
                <string>{55,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,67},{120,200}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{186,144}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,152},{186,144}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10004_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{420,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7467398cea27022bb8811e7d7bd8ba02$</string>
            <key>textureFileName</key>
            <string>10004_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
