<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10004_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{216,164}}</string>
                <key>offset</key>
                <string>{-58,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,120},{216,164}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{218,146}}</string>
                <key>offset</key>
                <string>{-61,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,117},{218,146}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{210,162}}</string>
                <key>offset</key>
                <string>{-62,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,121},{210,162}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,308},{200,158}}</string>
                <key>offset</key>
                <string>{-57,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,124},{200,158}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,166},{210,140}}</string>
                <key>offset</key>
                <string>{-59,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,118},{210,140}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
            <key>10004_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,168}}</string>
                <key>offset</key>
                <string>{-61,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,117},{220,168}}</string>
                <key>sourceSize</key>
                <string>{360,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10004_move.pvr.ccz</string>
            <key>size</key>
            <string>{436,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6332add9520ef6eef5376d5481b879cf$</string>
            <key>textureFileName</key>
            <string>10004_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
