<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50339_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,426},{130,58}}</string>
                <key>offset</key>
                <string>{-46,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{130,58}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,426},{148,78}}</string>
                <key>offset</key>
                <string>{-42,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{148,78}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{206,96}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{206,96}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,330},{228,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{228,94}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{260,104}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,41},{260,104}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,112},{242,108}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{242,108}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,222},{236,106}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{236,106}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,120}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{260,120}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{260,104}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,41},{260,104}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
            <key>50339_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{242,108}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{242,108}}</string>
                <key>sourceSize</key>
                <string>{300,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50339_0.pvr.ccz</string>
            <key>size</key>
            <string>{508,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e794fc9e35541e8bc5c24cc5710ed14$</string>
            <key>textureFileName</key>
            <string>50339_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
