<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50310_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{113,170}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{113,170}}</string>
                <key>sourceSize</key>
                <string>{177,200}</string>
            </dict>
            <key>50310_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{103,182}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{103,182}}</string>
                <key>sourceSize</key>
                <string>{177,200}</string>
            </dict>
            <key>50310_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,190}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{129,190}}</string>
                <key>sourceSize</key>
                <string>{177,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50310_3.pvr.ccz</string>
            <key>size</key>
            <string>{194,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c47ba8ee3c789a71784069af9cb8230$</string>
            <key>textureFileName</key>
            <string>50310_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
