<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_ko_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,131}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{193,131}}</string>
                <key>sourceSize</key>
                <string>{211,197}</string>
            </dict>
            <key>effects_ko_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{186,135}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{186,135}}</string>
                <key>sourceSize</key>
                <string>{212,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_ko.pvr.ccz</string>
            <key>size</key>
            <string>{197,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4cf7a0d69efbd4971fcbe4807de232e$</string>
            <key>textureFileName</key>
            <string>effects_ko.pvr.ccz</string>
        </dict>
    </dict>
</plist>
