<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10309_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{104,162}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,76},{104,162}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10309_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{104,132}}</string>
                <key>offset</key>
                <string>{-15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,106},{104,132}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10309_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,130}}</string>
                <key>offset</key>
                <string>{-18,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,108},{110,130}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
            <key>10309_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,136},{136,188}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,49},{136,188}}</string>
                <key>sourceSize</key>
                <string>{382,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10309_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{246,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e37e1d472d2a1f992857950d03b08b$</string>
            <key>textureFileName</key>
            <string>10309_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
