<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10511_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,189}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,80},{173,189}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{145,185}}</string>
                <key>offset</key>
                <string>{24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,84},{145,185}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{135,191}}</string>
                <key>offset</key>
                <string>{21,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,78},{135,191}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10511_attack.pvr.ccz</string>
            <key>size</key>
            <string>{461,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a24d0fe3b8a5479640328e0afc2b07e1$</string>
            <key>textureFileName</key>
            <string>10511_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
