<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_Email_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,452},{86,58}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{86,58}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_active_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,472},{84,88}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,21},{84,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_arena.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{84,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{84,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_arrow_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,447},{86,88}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{86,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,185},{84,96}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{84,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_career_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,382},{86,90}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{86,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,365},{84,86}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{84,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_dailytask.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,294},{86,92}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{86,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_download.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{84,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{84,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_draw_cion.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,271},{88,90}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{88,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_ffl_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,185},{84,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{84,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{135,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{135,98}}</string>
                <key>sourceSize</key>
                <string>{139,106}</string>
            </dict>
            <key>menu_activity_gift_land_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,389},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_activity_gift_pay_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,118},{86,96}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{86,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,364},{88,86}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{88,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_many_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,271},{86,92}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{86,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,102},{103,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{103,74}}</string>
                <key>sourceSize</key>
                <string>{105,80}</string>
            </dict>
            <key>menu_activity_sign_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,359},{86,90}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{86,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,97},{86,96}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{86,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{88,94}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{88,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_superstore.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,361},{88,86}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{88,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_tllq.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,118},{88,100}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{88,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_wealth_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,208},{94,90}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{94,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_activity_wonderful_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,282},{84,86}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{84,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,449},{86,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{86,62}}</string>
                <key>sourceSize</key>
                <string>{104,70}</string>
            </dict>
            <key>menu_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,101},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>menu_function_artifact_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,470},{88,84}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{88,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_backpack_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,535},{84,82}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{84,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,178},{102,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{102,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_button_close02.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,213},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,101}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>menu_function_button_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,237},{71,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,70}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>menu_function_button_open02.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,469},{67,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,66}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>menu_function_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,90},{122,121}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{122,121}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>menu_function_friend_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,279},{84,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{84,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_jew_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,512},{84,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{84,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_mail_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,316},{84,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{84,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_organization_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{84,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{84,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_pet_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,368},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>menu_function_player_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,185},{84,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{84,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_star_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,386},{84,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{84,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_strengthen.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,271},{91,91}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{91,91}}</string>
                <key>sourceSize</key>
                <string>{125,109}</string>
            </dict>
            <key>menu_function_strengthen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{84,86}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{84,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{91,91}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{91,91}}</string>
                <key>sourceSize</key>
                <string>{125,109}</string>
            </dict>
            <key>menu_function_system_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,558},{84,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{84,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_function_task_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,300},{84,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{84,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,556},{84,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{84,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>menu_icon_artifact.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,102},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>menu_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,204},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{19,17}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>menu_icon_dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,179},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{23,21}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>menu_icon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>menu_icon_ry.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,422},{78,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_icon_tl.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,398},{68,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_icon_zg.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,309},{70,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,149},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>menu_npcbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,468},{62,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>menu_npcshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,282},{70,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>menu_npcstore.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,352},{68,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>menu_role_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,97},{121,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,86}}</string>
                <key>sourceSize</key>
                <string>{129,86}</string>
            </dict>
            <key>menu_role_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,206},{95,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{129,86}</string>
            </dict>
            <key>menu_role_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,97},{119,86}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,86}}</string>
                <key>sourceSize</key>
                <string>{129,86}</string>
            </dict>
            <key>menu_role_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{129,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,86}}</string>
                <key>sourceSize</key>
                <string>{129,86}</string>
            </dict>
            <key>menu_role_frame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{341,93}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{341,93}}</string>
                <key>sourceSize</key>
                <string>{345,117}</string>
            </dict>
            <key>menu_role_frame02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,114}}</string>
                <key>sourceSize</key>
                <string>{359,114}</string>
            </dict>
            <key>menu_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,67},{38,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{38,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,185},{12,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{12,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,129},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{10,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,171},{12,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{12,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,157},{12,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{12,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,203},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{12,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,199},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{12,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,143},{12,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{12,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,185},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{12,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,129},{12,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{12,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_tag_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,223},{12,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{12,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>menu_task_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,185},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>menu_tl.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,199},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>menu_tl_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,165},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>menu_word_zzdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,101},{76,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,21}}</string>
                <key>sourceSize</key>
                <string>{76,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUIResources.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:460675cca1307e10ac4d23b6be798d88$</string>
            <key>textureFileName</key>
            <string>MainUIResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
