<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_roleheadframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{97,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,106}}</string>
                <key>sourceSize</key>
                <string>{97,106}</string>
            </dict>
            <key>card_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,260}}</string>
                <key>sourceSize</key>
                <string>{397,260}</string>
            </dict>
            <key>crad_roleframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RoleCardResources.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f985ffc23de864773ca33b28643e5fe9$</string>
            <key>textureFileName</key>
            <string>RoleCardResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
