<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10321_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,162}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,38},{120,162}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{146,156}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,43},{146,156}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{164,148}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,37},{164,148}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{120,166}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,39},{120,166}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,166},{150,164}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,41},{150,164}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,166},{164,150}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,29},{164,150}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10321_move.pvr.ccz</string>
            <key>size</key>
            <string>{442,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e206fd73cc3cf860c8d6eadc81c187d$</string>
            <key>textureFileName</key>
            <string>10321_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
