<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10321_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,172}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,34},{114,172}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,168}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,38},{114,168}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,340},{114,166}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,40},{114,166}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{114,164}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,42},{114,164}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,172},{114,166}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,40},{114,166}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{114,168}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,38},{114,168}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10321_idle.pvr.ccz</string>
            <key>size</key>
            <string>{234,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2fdf3d8968c666e22fd71c849d9b582$</string>
            <key>textureFileName</key>
            <string>10321_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
