<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10321_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,202}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,3},{104,202}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{136,188}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,20},{136,188}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,206},{142,134}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,71},{142,134}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{142,138}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,67},{142,138}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
            <key>10321_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{136,150}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,55},{136,150}}</string>
                <key>sourceSize</key>
                <string>{328,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10321_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{384,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:834950c2c2984e81fbfa8efcb3506f87$</string>
            <key>textureFileName</key>
            <string>10321_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
