<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10520_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,172},{140,196}}</string>
                <key>offset</key>
                <string>{-101,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,45},{140,196}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,396},{176,234}}</string>
                <key>offset</key>
                <string>{-101,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{176,234}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,172},{166,222}}</string>
                <key>offset</key>
                <string>{-70,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,19},{166,222}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{172,222}}</string>
                <key>offset</key>
                <string>{-62,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,25},{172,222}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{310,168}}</string>
                <key>offset</key>
                <string>{35,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,94},{310,168}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,166}}</string>
                <key>offset</key>
                <string>{-41,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,85},{164,166}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
            <key>10520_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{160,182}}</string>
                <key>offset</key>
                <string>{-57,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,61},{160,182}}</string>
                <key>sourceSize</key>
                <string>{408,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10520_attack.pvr.ccz</string>
            <key>size</key>
            <string>{480,632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed09fdbbb703cda830c2a76e968a8e54$</string>
            <key>textureFileName</key>
            <string>10520_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
