<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10131_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,196}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,156},{60,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>10131_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{58,196}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,156},{58,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>10131_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{56,196}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,156},{56,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>10131_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,196}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,156},{58,196}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10131.pvr.ccz</string>
            <key>size</key>
            <string>{242,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b593be13ceeaa9bc3c6d01511cda0f57$</string>
            <key>textureFileName</key>
            <string>10131.pvr.ccz</string>
        </dict>
    </dict>
</plist>
