<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,386},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>login_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,620},{60,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>login_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,586},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>login_attribute_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,198},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>login_attribute_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,191},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>login_attribute_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,184},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>login_attribute_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,184},{303,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,13}}</string>
                <key>sourceSize</key>
                <string>{303,13}</string>
            </dict>
            <key>login_button_big_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{222,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,73}}</string>
                <key>sourceSize</key>
                <string>{222,73}</string>
            </dict>
            <key>login_button_big_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{222,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,73}}</string>
                <key>sourceSize</key>
                <string>{222,73}</string>
            </dict>
            <key>login_button_click_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,428},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,55}</string>
            </dict>
            <key>login_button_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,426},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,55}</string>
            </dict>
            <key>login_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,496},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>login_input_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,560},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>login_lv_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,222},{145,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,43}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>login_name_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,314},{115,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,43}}</string>
                <key>sourceSize</key>
                <string>{115,43}</string>
            </dict>
            <key>login_page_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,442},{122,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,52}}</string>
                <key>sourceSize</key>
                <string>{126,52}</string>
            </dict>
            <key>login_page_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,270},{126,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,52}}</string>
                <key>sourceSize</key>
                <string>{126,52}</string>
            </dict>
            <key>login_page_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,436},{122,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,52}}</string>
                <key>sourceSize</key>
                <string>{126,52}</string>
            </dict>
            <key>login_player_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{416,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,266}}</string>
                <key>sourceSize</key>
                <string>{416,266}</string>
            </dict>
            <key>login_player_underframe_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,184},{152,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{152,132}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>login_player_underframe_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,94},{146,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{146,126}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>login_return_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,530},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>login_return_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,496},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>login_role_background_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{223,133}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{223,133}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>login_role_background_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,55},{183,37}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,117},{183,37}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>login_second_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>login_server_change_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,586},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>login_server_change_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,515},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>login_server_frame_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,489},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>login_server_frame_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,431},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{61,61}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>login_server_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,550},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>login_server_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,584},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>login_server_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,436},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>login_small_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,324},{122,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{122,116}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>login_small_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,335},{124,116}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{124,116}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>login_small_player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,310},{134,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{134,116}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>login_small_player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,308},{134,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{134,116}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>login_small_player5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,318},{122,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{122,116}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>login_small_player6.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,318},{122,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{122,116}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>login_word_cjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,270},{142,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,38}}</string>
                <key>sourceSize</key>
                <string>{142,38}</string>
            </dict>
            <key>login_word_gjfycz.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,490},{38,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,92}}</string>
                <key>sourceSize</key>
                <string>{38,92}</string>
            </dict>
            <key>login_word_gjfysd.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,490},{38,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,92}}</string>
                <key>sourceSize</key>
                <string>{38,92}</string>
            </dict>
            <key>login_word_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,515},{34,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>login_word_jryx.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,270},{142,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{142,36}}</string>
                <key>sourceSize</key>
                <string>{142,38}</string>
            </dict>
            <key>login_word_scdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,483},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,32}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>login_word_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,51}}</string>
                <key>sourceSize</key>
                <string>{420,51}</string>
            </dict>
            <key>login_word_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,352},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>login_word_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,318},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>login_word_xzfwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,301},{145,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,32}}</string>
                <key>sourceSize</key>
                <string>{145,32}</string>
            </dict>
            <key>login_word_yxwhgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,94},{218,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,47}}</string>
                <key>sourceSize</key>
                <string>{218,47}</string>
            </dict>
            <key>login_word_zjdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,481},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,32}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>login_word_zxfwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,267},{145,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,32}}</string>
                <key>sourceSize</key>
                <string>{145,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoginResources.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16cdbd9472b7db31af6ba1b9955d05cf$</string>
            <key>textureFileName</key>
            <string>LoginResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
