<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50036_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,219}}</string>
                <key>offset</key>
                <string>{-61,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,195},{157,219}}</string>
                <key>sourceSize</key>
                <string>{417,427}</string>
            </dict>
            <key>50036_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{217,287}}</string>
                <key>offset</key>
                <string>{-65,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,39},{217,287}}</string>
                <key>sourceSize</key>
                <string>{417,427}</string>
            </dict>
            <key>50036_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{353,247}}</string>
                <key>offset</key>
                <string>{-14,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{353,247}}</string>
                <key>sourceSize</key>
                <string>{417,427}</string>
            </dict>
            <key>50036_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{315,305}}</string>
                <key>offset</key>
                <string>{41,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,18},{315,305}}</string>
                <key>sourceSize</key>
                <string>{417,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50036.pvr.ccz</string>
            <key>size</key>
            <string>{380,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7a3aa4e862ace1f32308f032e318be6$</string>
            <key>textureFileName</key>
            <string>50036.pvr.ccz</string>
        </dict>
    </dict>
</plist>
