<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50030_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,129},{51,56}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,34},{51,56}}</string>
                <key>sourceSize</key>
                <string>{179,112}</string>
            </dict>
            <key>50030_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,171},{33,32}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,49},{33,32}}</string>
                <key>sourceSize</key>
                <string>{179,112}</string>
            </dict>
            <key>50030_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,60},{109,50}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,35},{109,50}}</string>
                <key>sourceSize</key>
                <string>{179,112}</string>
            </dict>
            <key>50030_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{125,52}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,35},{125,52}}</string>
                <key>sourceSize</key>
                <string>{179,112}</string>
            </dict>
            <key>50030_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,56}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,32},{125,56}}</string>
                <key>sourceSize</key>
                <string>{179,112}</string>
            </dict>
            <key>50030_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,56}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,31},{125,56}}</string>
                <key>sourceSize</key>
                <string>{179,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50030.pvr.ccz</string>
            <key>size</key>
            <string>{187,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d82631b4b70bb509950101337cf63bdc$</string>
            <key>textureFileName</key>
            <string>50030.pvr.ccz</string>
        </dict>
    </dict>
</plist>
