<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50015_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,202}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,93},{265,202}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,774},{445,260}}</string>
                <key>offset</key>
                <string>{-61,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,43},{445,260}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{381,258}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,69},{381,258}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,254},{381,258}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,69},{381,258}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,514},{419,258}}</string>
                <key>offset</key>
                <string>{28,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,69},{419,258}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{401,256}}</string>
                <key>offset</key>
                <string>{37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,73},{401,256}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{459,270}}</string>
                <key>offset</key>
                <string>{40,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,59},{459,270}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{311,262}}</string>
                <key>offset</key>
                <string>{114,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,59},{311,262}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{271,250}}</string>
                <key>offset</key>
                <string>{149,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,98},{271,250}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
            <key>50015_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{235,250}}</string>
                <key>offset</key>
                <string>{167,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,98},{235,250}}</string>
                <key>sourceSize</key>
                <string>{587,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50015.pvr.ccz</string>
            <key>size</key>
            <string>{806,1308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb7e41ccf79960f3f06afbf1e075af6a$</string>
            <key>textureFileName</key>
            <string>50015.pvr.ccz</string>
        </dict>
    </dict>
</plist>
