<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10339_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{170,188}}</string>
                <key>offset</key>
                <string>{30,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,89},{170,188}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{114,174}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,103},{114,174}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{128,180}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,97},{128,180}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,184},{126,182}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,95},{126,182}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,370},{162,190}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,87},{162,190}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{152,182}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,95},{152,182}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,162}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,116},{160,162}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_111_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,184},{140,184}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,93},{140,184}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10339_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{426,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e25dbdf2b3762e7e4194a8d77d67cc66$</string>
            <key>textureFileName</key>
            <string>10339_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
