<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10339_skill_112_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,352},{114,168}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,108},{114,168}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{98,208}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,68},{98,208}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,238}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,24},{76,238}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,186},{94,184}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,48},{94,184}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,352},{108,156}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,56},{108,156}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{200,156}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,42},{200,156}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{190,182}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{190,182}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,282},{170,96}}</string>
                <key>offset</key>
                <string>{18,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,183},{170,96}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
            <key>10339_skill_112_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,204},{146,118}}</string>
                <key>offset</key>
                <string>{24,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,157},{146,118}}</string>
                <key>sourceSize</key>
                <string>{298,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10339_skill_112.pvr.ccz</string>
            <key>size</key>
            <string>{480,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda1fc077c71609f5017450cad0c4ab4$</string>
            <key>textureFileName</key>
            <string>10339_skill_112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
