<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_big_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,984},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>login_big_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,764},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>login_big_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>login_big_player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,764},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>login_big_player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>login_big_player5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,764},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>login_big_player6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>login_choice.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,821},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>login_server_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,764}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{1024,764}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>login_small_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,874},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>login_small_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,764},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>login_small_player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,764},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>login_small_player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,764},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>login_small_player5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,764},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>login_small_player6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,764},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>login_the_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,764},{57,57}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{57,57}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CreateRoleResource.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:750849a6f60c9ec987f1cb8e1759013b$</string>
            <key>textureFileName</key>
            <string>CreateRoleResource.pvr.ccz</string>
        </dict>
    </dict>
</plist>
