<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10517_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,177},{101,177}}</string>
                <key>offset</key>
                <string>{-13,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{101,177}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10517_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,167}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,99},{121,167}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10517_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{169,173}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,90},{169,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10517_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{127,173}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{127,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10517_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,177},{93,173}}</string>
                <key>offset</key>
                <string>{20,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,90},{93,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10517_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{97,173}}</string>
                <key>offset</key>
                <string>{10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{97,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10517_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,177},{93,189}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{93,189}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10517_attack.pvr.ccz</string>
            <key>size</key>
            <string>{424,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:904a437ea8a21447dd87113d57ea855f$</string>
            <key>textureFileName</key>
            <string>10517_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
