<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50315_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,235}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,12},{232,235}}</string>
                <key>sourceSize</key>
                <string>{378,285}</string>
            </dict>
            <key>50315_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{210,151}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,36},{210,151}}</string>
                <key>sourceSize</key>
                <string>{378,285}</string>
            </dict>
            <key>50315_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{44,179}}</string>
                <key>offset</key>
                <string>{-126,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,61},{44,179}}</string>
                <key>sourceSize</key>
                <string>{378,285}</string>
            </dict>
            <key>50315_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,239},{116,133}}</string>
                <key>offset</key>
                <string>{-35,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,128},{116,133}}</string>
                <key>sourceSize</key>
                <string>{378,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50315_0.pvr.ccz</string>
            <key>size</key>
            <string>{273,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e657ca8bfe2c79f2e7e61858869672a$</string>
            <key>textureFileName</key>
            <string>50315_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
