<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50315_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,223}}</string>
                <key>offset</key>
                <string>{82,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,43},{120,223}}</string>
                <key>sourceSize</key>
                <string>{378,285}</string>
            </dict>
            <key>50315_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,209}}</string>
                <key>offset</key>
                <string>{96,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,51},{120,209}}</string>
                <key>sourceSize</key>
                <string>{378,285}</string>
            </dict>
            <key>50315_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{120,193}}</string>
                <key>offset</key>
                <string>{109,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,60},{120,193}}</string>
                <key>sourceSize</key>
                <string>{378,285}</string>
            </dict>
            <key>50315_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,227},{120,177}}</string>
                <key>offset</key>
                <string>{123,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,70},{120,177}}</string>
                <key>sourceSize</key>
                <string>{378,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50315_1.pvr.ccz</string>
            <key>size</key>
            <string>{246,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf0904752bb1e13467d75dea15e1acad$</string>
            <key>textureFileName</key>
            <string>50315_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
