<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_arraylayer_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{98,100}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>task_autoRunning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{94,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,32}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>task_autoRunning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,324},{94,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,32}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>task_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,420},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>task_btn_closeS.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,420},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>task_commit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,324},{98,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>task_commit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,324},{98,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>task_done_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,324},{94,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>task_done_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,324},{94,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>task_left_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{277,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,66}}</string>
                <key>sourceSize</key>
                <string>{277,66}</string>
            </dict>
            <key>task_peopleattr_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>task_undone_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,324},{96,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>task_undone_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,324},{96,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taskInfo.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb978cbf74a0b290e65afa6172aac501$</string>
            <key>textureFileName</key>
            <string>taskInfo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
