<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_NPC_exclamation_mark_accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,108},{18,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{18,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>task_NPC_exclamation_mark_unaccepted.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,86},{20,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{20,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>task_NPC_question_mark_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,44},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>task_NPC_question_mark_unfinished.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{40,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>task_NPC_talk_unframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{432,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,361}}</string>
                <key>sourceSize</key>
                <string>{432,361}</string>
            </dict>
            <key>task_dividing_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{103,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,3}}</string>
                <key>sourceSize</key>
                <string>{103,3}</string>
            </dict>
            <key>task_exclamation_mark_accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,107},{12,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{12,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>task_exclamation_mark_unaccepted.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,469},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>task_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,128},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>task_question_mark_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{26,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>task_question_mark_unfinished.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,469},{24,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>task_talk_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{438,50}}</string>
                <key>sourceSize</key>
                <string>{448,50}</string>
            </dict>
            <key>task_talk_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{436,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{436,50}}</string>
                <key>sourceSize</key>
                <string>{448,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taskResourcesNew.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a5c977b60fbce919ce232fefef0013e$</string>
            <key>textureFileName</key>
            <string>taskResourcesNew.pvr.ccz</string>
        </dict>
    </dict>
</plist>
