<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_funtion.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{950,64}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{950,64}}</string>
                <key>sourceSize</key>
                <string>{1006,114}</string>
            </dict>
            <key>task_green_exclamation_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,954},{42,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>task_green_question_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{42,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>task_red_question_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,954},{20,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{20,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>task_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,64}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{950,64}}</string>
                <key>sourceSize</key>
                <string>{1006,114}</string>
            </dict>
            <key>task_yellow_exclamation_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,954},{20,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{20,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taskResources.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c648360a9c958ea995a461f9ad70eda3$</string>
            <key>textureFileName</key>
            <string>taskResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
