<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10323_skill_111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{114,208}}</string>
                <key>offset</key>
                <string>{-45,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,39},{114,208}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_skill_111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{118,182}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{118,182}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_skill_111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,118},{136,186}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,68},{136,186}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_skill_111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,106}}</string>
                <key>offset</key>
                <string>{-36,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,142},{182,106}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_skill_111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{158,144}}</string>
                <key>offset</key>
                <string>{-40,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,104},{158,144}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_skill_111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,256},{150,154}}</string>
                <key>offset</key>
                <string>{-36,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,94},{150,154}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
            <key>10323_skill_111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,256},{150,166}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,81},{150,166}}</string>
                <key>sourceSize</key>
                <string>{328,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10323_skill_111.pvr.ccz</string>
            <key>size</key>
            <string>{486,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8436df5e243fe9f9718bd5808a7b9d6a$</string>
            <key>textureFileName</key>
            <string>10323_skill_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
