<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,599},{166,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,30}}</string>
                <key>sourceSize</key>
                <string>{166,30}</string>
            </dict>
            <key>combat_background_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{781,549}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{781,549}}</string>
                <key>sourceSize</key>
                <string>{811,549}</string>
            </dict>
            <key>combat_dividing.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,553},{177,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,488}}</string>
                <key>sourceSize</key>
                <string>{177,488}</string>
            </dict>
            <key>combat_dividing_a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,814},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,59}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>combat_dividing_a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,810},{59,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,95}}</string>
                <key>sourceSize</key>
                <string>{61,97}</string>
            </dict>
            <key>combat_dividing_a03.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,631},{69,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,163}}</string>
                <key>sourceSize</key>
                <string>{71,165}</string>
            </dict>
            <key>combat_dividing_a04.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,377},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,25}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>combat_dividing_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,871},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,59}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>combat_dividing_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,764},{59,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,95}}</string>
                <key>sourceSize</key>
                <string>{61,97}</string>
            </dict>
            <key>combat_dividing_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,599},{69,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,163}}</string>
                <key>sourceSize</key>
                <string>{71,165}</string>
            </dict>
            <key>combat_dividing_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,303},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,25}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>combat_drop_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,967},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>combat_drop_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,932},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>combat_frame_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,553},{131,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,42}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>combat_frame_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,774},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{123,34}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>combat_frame_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,738},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{123,34}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>combat_logo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{413,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,178}}</string>
                <key>sourceSize</key>
                <string>{413,178}</string>
            </dict>
            <key>combat_logo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,303},{294,210}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,210}}</string>
                <key>sourceSize</key>
                <string>{298,210}</string>
            </dict>
            <key>combat_role_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,137},{223,133}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{223,133}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>combat_word_gdzwzgj.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,881},{294,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,109}}</string>
                <key>sourceSize</key>
                <string>{298,109}</string>
            </dict>
            <key>combat_word_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,732},{286,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,70}}</string>
                <key>sourceSize</key>
                <string>{290,70}</string>
            </dict>
            <key>combat_word_hljcbqjc.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,272},{217,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,29}}</string>
                <key>sourceSize</key>
                <string>{217,29}</string>
            </dict>
            <key>combat_word_sbq.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,702},{162,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,54}}</string>
                <key>sourceSize</key>
                <string>{164,54}</string>
            </dict>
            <key>combat_word_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,732},{327,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,147}}</string>
                <key>sourceSize</key>
                <string>{327,147}</string>
            </dict>
            <key>combat_word_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,881},{138,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{138,88}}</string>
                <key>sourceSize</key>
                <string>{144,94}</string>
            </dict>
            <key>combat_word_xbq.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,758},{156,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{164,54}</string>
            </dict>
            <key>combat_word_yj.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,732},{286,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,70}}</string>
                <key>sourceSize</key>
                <string>{290,70}</string>
            </dict>
            <key>combat_word_zl.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,597},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{126,34}</string>
            </dict>
            <key>login_name_underframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{115,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,43}}</string>
                <key>sourceSize</key>
                <string>{115,43}</string>
            </dict>
            <key>login_role_background_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{223,133}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{223,133}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>login_role_background_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,553},{183,37}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,117},{183,37}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KingOfFlighters.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:923754af88b2daaaa1ee7f44166ac3de$</string>
            <key>textureFileName</key>
            <string>KingOfFlighters.pvr.ccz</string>
        </dict>
    </dict>
</plist>
