<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50513_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,26}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,86},{16,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>50513_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{100,80}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{100,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>50513_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{130,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{130,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>50513_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,94},{138,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{138,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>50513_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{150,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>50513_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{142,80}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{142,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>50513_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,94},{132,102}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{132,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50513_0.pvr.ccz</string>
            <key>size</key>
            <string>{418,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:962ae77a7f0b7d30166421fcd64d4dc4$</string>
            <key>textureFileName</key>
            <string>50513_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
