<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50318_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,36}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{52,36}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>50318_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{88,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{88,58}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>50318_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{72,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{72,56}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>50318_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{70,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{70,58}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50318_0.pvr.ccz</string>
            <key>size</key>
            <string>{92,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88d665e9d342c453292f6903ff9ff53b$</string>
            <key>textureFileName</key>
            <string>50318_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
