<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10518_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,178}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,73},{188,178}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,178}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,73},{188,178}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{198,180}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,71},{198,180}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,364},{206,182}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,69},{206,182}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,182},{204,180}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,71},{204,180}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
            <key>10518_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{196,180}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,71},{196,180}}</string>
                <key>sourceSize</key>
                <string>{438,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10518_idle.pvr.ccz</string>
            <key>size</key>
            <string>{408,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c270a2038e854dfd0b353ad726a880d$</string>
            <key>textureFileName</key>
            <string>10518_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
