<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_rate2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effects_rate2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_rate2.pvr.ccz</string>
            <key>size</key>
            <string>{172,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:173647b0dea29c06a030ec55e2f3ba6a$</string>
            <key>textureFileName</key>
            <string>effects_rate2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
