<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10511_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{149,179}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,89},{149,179}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{135,173}}</string>
                <key>offset</key>
                <string>{-33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,95},{135,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{125,191}}</string>
                <key>offset</key>
                <string>{27,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,65},{125,191}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{155,173}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,52},{155,173}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,191}}</string>
                <key>offset</key>
                <string>{12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{193,191}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,323},{145,149}}</string>
                <key>offset</key>
                <string>{17,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,117},{145,149}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,242},{199,79}}</string>
                <key>offset</key>
                <string>{-1,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,198},{199,79}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,177},{207,71}}</string>
                <key>offset</key>
                <string>{-1,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,205},{207,71}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
            <key>10511_hurt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,177},{215,63}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,213},{215,63}}</string>
                <key>sourceSize</key>
                <string>{247,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10511_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{491,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1679248ce53536d200ac1e51e231ca03$</string>
            <key>textureFileName</key>
            <string>10511_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
